<!-- IF not S_HIDE_ADS -->
	<div style="text-align:center; width:100%;">
        <table class="tablebg" cellspacing="1" width="734" style="margin: 0 auto;">
            <tr>
                <td class="row1">
                    <script type="text/javascript"><!--
                        google_ad_client = "pub-1284728315041815";			// Enter your (client) publication ID
                        google_alternate_ad_url = "";	// enter your alternate ad URL (if any)
                        google_ad_width = 728;
                        google_ad_height = 90;
                        google_ad_format = "728x90_as";
                        google_ad_type = "text_image";
                        google_ad_channel = "";			// enter your add channel ID (if any)
                        google_color_border = "67828d";
                        google_color_bg = "d3d9e2";
                        google_color_link = "105289";
                        google_color_text = "333333";
                        google_color_url = "DC2A4D";
                        //-->
                    </script>
                    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
                </td>
            </tr>
        </table>
    </div>
    <!-- ENDIF -->