<!-- INCLUDE ucp_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="2" valign="middle">{L_TITLE}</th>
</tr>
<!-- IF ERROR -->
	<tr>
		<td class="row3" colspan="2" align="center"><span class="gensmall error">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="row1" colspan="2"><span class="gensmall">{L_TITLE_EXPLAIN}</span></td>
</tr>
<tr>
	<td class="row1" width="50%"><b class="genmed">{L_ARCADE_SEND_PM}:</b><br /><span class="gensmall">{L_ARCADE_SEND_PM_UCP_EXPLAIN}</span></td>
	<td class="row2"><input type="radio" class="radio" name="user_arcade_pm" value="1"<!-- IF S_USER_ARCADE_PM --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_YES}</span>&nbsp;&nbsp;<input type="radio" class="radio" name="user_arcade_pm" value="0"<!-- IF not S_USER_ARCADE_PM --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NO}</span></td>
</tr>
<tr>
	<td colspan="2" class="spacer"></td>
</tr>
<tr>
	<td class="row1" width="35%"><b class="genmed">{L_ARCADE_GAMES_PER_PAGE}: </b></td>
	<td class="row2"><input class="post" type="text" name="games_per_page" size="3" value="{GAMES_PER_PAGE}" /></td>
</tr>
<tr>
	<td class="row1" width="50%"><b class="genmed">{L_ARCADE_GAMES_SORT_ORDER}:</b></td>
	<td class="row2"><select name="games_sort_order">{GAMES_SORT_ORDER}</select></td>
</tr>
<tr>
	<td class="row1" width="50%"><b class="genmed">{L_ARCADE_GAMES_SORT_DIR}:</b></td>
	<td class="row2"><select name="games_sort_dir">{GAMES_SORT_DIR}</select></td>
</tr>
<tr>
	<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="btnmain" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" name="reset" /></td>
</tr>
</table>

<!-- INCLUDE ucp_footer.html -->