<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="2" valign="middle">{L_TITLE}</th>
</tr>
<!-- IF ERROR -->
	<tr>
		<td class="row3" colspan="2" align="center"><span class="gensmall error">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->
<tr> 
	<td class="row1" colspan="2"><span class="gensmall">{L_FAVORITES_EDIT_NOTICE}</span></td>
</tr>
<!-- BEGIN favorites_boxes -->
<tr> 
	<td class="row1" width="35%"><b class="genmed"><label for="{favorites_boxes.ID}">{favorites_boxes.L_CATEGORY_NAME}:</label></b></td>
	<td class="row2"><textarea name="{favorites_boxes.ID}" id="{favorites_boxes.ID}" class="post" rows="10" cols="60">{favorites_boxes.FAVORITES_BOX}</textarea></td>
</tr>
<!-- END favorites_boxes -->
<tr>
	<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="btnmain" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" name="reset" /></td>
</tr>
</table>
</form>

<!-- INCLUDE ucp_footer.html -->