<!-- INCLUDE overall_header.html -->

<!-- IF MESSAGE -->
<table width="100%" cellspacing="1">
<tr>
	<td class="genmed" align="center">
		{MESSAGE}
	</td>
</tr>
</table>
<!-- ENDIF -->

<table width="100%" cellspacing="1">
<tr>
	<td class="genmed" align="{S_CONTENT_FLOW_BEGIN}">{PAGE_TITLE}:&nbsp;{CURRENT_CAT_NAME}</td>
	<td class="genmed" align="{S_CONTENT_FLOW_END}">
<!-- BEGIN categories -->
<!-- IF categories.ID != CURRENT_CAT --><a href="{S_UCP_ACTION}&amp;catid={categories.ID}">{categories.NAME}</a><!-- ELSE -->{categories.NAME}<!-- ENDIF --><!-- IF not categories.S_LAST_ROW -->&nbsp;|&nbsp;<!-- ENDIF -->
<!-- END categories -->			
	</td>
</tr>
</table>
	
<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th nowrap="nowrap" align="{S_CONTENT_FLOW_BEGIN}" width="50%">{L_FAVORITES_LIST_TEXT}</th>
	<th nowrap="nowrap" align="{S_CONTENT_FLOW_BEGIN}" width="50%">{L_FAVORITES_LIST_URL}</th>	
	<!-- IF S_BUTTON_COL--><th style="width: 60px; text-align: {S_CONTENT_FLOW_BEGIN}; white-space: nowrap;">{L_FAVORITES_LIST_OPTIONS}</th><!-- ENDIF -->
</tr>
<!-- BEGIN fav_list -->
	<tr class="<!-- IF fav_list.S_ROW_COUNT is even -->row2<!-- ELSE -->row1<!-- ENDIF -->">
			<td>
            <!-- IF S_BUTTON_BEFORE-->
            <form id="item_{fav_list.S_ROW_COUNT}" method="post" action="{S_UCP_ACTION}&amp;catid={CURRENT_CAT}"  style="margin: 0 ; padding: 0; display: inline;">
            <button type="submit" name="add_item" value="add" style="border: 0; background-color: transparent"><img alt="{L_FAVORITES_ADD_ALT}" title="{L_FAVORITES_ADD_TITLE}" src="{IMG_ADD_BUTTON}" /></button> 
            <input type="hidden" name="text" value="{fav_list.TEXT}" />
            <input type="hidden" name="url" value="{fav_list.URL}" />
            </form>
            <form id="item_{fav_list.S_ROW_COUNT}" method="post" action="{S_UCP_ACTION}&amp;catid={CURRENT_CAT}"  style="margin: 0 ; padding: 0; display: inline;">
            <button type="submit"  name="view_users" value="view" style="border: 0; background-color: transparent"><img alt="{L_FAVORITES_VIEW_ALT}" title="{L_FAVORITES_VIEW_TITLE}" src="{IMG_SEARCH_BUTTON}"></button>
            <input type="hidden" name="text" value="{fav_list.TEXT}" />
            </form>
            <!-- ENDIF -->
            &nbsp;{fav_list.TEXT}
            <!-- IF S_BUTTON_AFTER-->&nbsp;
            <form id="item_{fav_list.S_ROW_COUNT}" method="post" action="{S_UCP_ACTION}&amp;catid={CURRENT_CAT}"  style="margin: 0 ; padding: 0; display: inline;">
            <button type="submit" name="add_item" value="add" style="border: 0; background-color: transparent"><img alt="{L_FAVORITES_ADD_ALT}" title="{L_FAVORITES_ADD_TITLE}" src="{IMG_ADD_BUTTON}" /></button> 
            <input type="hidden" name="text" value="{fav_list.TEXT}" />
            <input type="hidden" name="url" value="{fav_list.URL}" />
            </form>
            <form id="item_{fav_list.S_ROW_COUNT}" method="post" action="{S_UCP_ACTION}&amp;catid={CURRENT_CAT}"  style="margin: 0 ; padding: 0; display: inline;">
            <button type="submit"  name="view_users" value="view" style="border: 0; background-color: transparent"><img alt="{L_FAVORITES_VIEW_ALT}" title="{L_FAVORITES_VIEW_TITLE}" src="{IMG_SEARCH_BUTTON}"></button>
            <input type="hidden" name="text" value="{fav_list.TEXT}" />
            </form>
            <!-- ENDIF -->
            </td>
			<td><!-- IF fav_list.URL --><a href="{fav_list.URL}">{fav_list.URL}</a><!-- ENDIF --></td>
			<!-- IF S_BUTTON_COL-->
            <td style="text-align: right">
            <form id="item_{fav_list.S_ROW_COUNT}" method="post" action="{S_UCP_ACTION}&amp;catid={CURRENT_CAT}"  style="margin: 0 ; padding: 0; display: inline;">
            <button type="submit" name="add_item" value="add" style="border: 0; background-color: transparent"><img alt="{L_FAVORITES_ADD_ALT}" title="{L_FAVORITES_ADD_TITLE}" src="{IMG_ADD_BUTTON}" /></button> 
            <input type="hidden" name="text" value="{fav_list.TEXT}" />
            <input type="hidden" name="url" value="{fav_list.URL}" />
            </form>
            <form id="item_{fav_list.S_ROW_COUNT}" method="post" action="{S_UCP_ACTION}&amp;catid={CURRENT_CAT}"  style="margin: 0 ; padding: 0; display: inline;">
            <button type="submit"  name="view_users" value="view" style="border: 0; background-color: transparent"><img alt="{L_FAVORITES_VIEW_ALT}" title="{L_FAVORITES_VIEW_TITLE}" src="{IMG_SEARCH_BUTTON}"></button>
            <input type="hidden" name="text" value="{fav_list.TEXT}" />
            </form>
            </td>
            <!-- ENDIF -->
	</tr>
<!-- END fav_list -->
</table>
<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<br clear="all" />

<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>	
<!-- INCLUDE overall_footer.html -->