<!-- IF TOTAL_GAMES -->
<p></p><p><a class="left-box {S_CONTENT_FLOW_BEGIN}" href="{U_ARCADE}" accesskey="r">{L_RETURN_TO} {L_ARCADE_INDEX}</a></p>
<!-- ENDIF -->
<!-- IF S_DISPLAY_JUMPBOX -->
	<form method="get" id="jumpbox" action="{S_JUMPBOX_ACTION}" onsubmit="if(document.jumpbox.c.value == -1){return false;}">
		<fieldset class="jumpbox">
			<input type="hidden" name="mode" value="cat" />
			<label for="c" accesskey="j">{L_JUMP_TO}: </label>
			<select name="c" id="c" onchange="if(this.options[this.selectedIndex].value != -1){ forms['jumpbox'].submit() }">
			<!-- BEGIN jumpbox_arcade -->
				<!-- IF jumpbox_arcade.S_CAT_COUNT == 1 --><option value="-1">------------------</option><!-- ENDIF -->
				<option value="{jumpbox_arcade.CAT_ID}"{jumpbox_arcade.SELECTED}><!-- BEGIN level -->&nbsp; &nbsp;<!-- END level -->{jumpbox_arcade.CAT_NAME}</option>
			<!-- END jumpbox_arcade -->
			</select>
			<input type="submit" value="{L_GO}" class="button2" />
		</fieldset>
	</form>
<!-- ENDIF -->