<!-- INCLUDE overall_header.html -->
<!-- INCLUDE arcade/arcade_header_body.html -->

<!-- IF S_USER_STATS -->
	<h3>{L_ARCADE_USER_INFO}</h3>
	<!-- IF .userfav --><form action="{S_ACTION_USER_FAV}" method="get" id="userfav_games"><!-- ENDIF -->
	<div class="panel bg1<!-- IF S_ONLINE --> online<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>
			<dl class="left-box">
				<dt style="text-align: center;"><!-- IF AVATAR -->{AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF --></dt>
				<!-- IF RANK_TITLE --><dd style="text-align: center;">{RANK_TITLE}</dd><!-- ENDIF -->
				<!-- IF RANK_IMAGE --><dd style="text-align: center;">{RANK_IMAGE}</dd><!-- ENDIF -->
				<dd style="text-align: center;"><a href="{U_ARCADE_USER_STATS_TYPE}">{L_ARCADE_USER_STATS_TYPE}</a></dd>
			</dl>

			<dl class="left-box details" style="width: 80%;">
				<dt>{L_USERNAME}:</dt>
				<dd>
					{USERNAME}
				</dd>

				<!-- IF ARCADE_WINS --><dt>{L_ARCADE_WELCOME_WINS}:</dt> <dd>{ARCADE_WINS}</dd><!-- ENDIF -->
				<!-- IF ARCADE_PLAYS --><dt>{L_ARCADE_WELCOME_PLAYS}:</dt> <dd>{ARCADE_PLAYS}</dd><!-- ENDIF -->
				<!-- IF ARCADE_TIME --><dt>{L_ARCADE_WELCOME_TIME}:</dt> <dd>{ARCADE_TIME}</dd><!-- ENDIF -->
				<!-- IF .userfav --><dt>{L_ARCADE_USER_FAV}:</dt> <dd><select name="g"><!-- BEGIN userfav --><option value="{userfav.GAME_ID}">{userfav.GAME_NAME}</option><!-- END userfav --></select>&nbsp;<input type="submit" value="{L_GO}" /></dd><!-- ENDIF -->
			</dl>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<br />
	<!-- IF .userfav -->
	{S_USER_FAV_HIDDEN_FIELDS}
	</form>
	<!-- ENDIF -->
	<!-- IF TOTAL_GAMES -->
	<div class="topic-actions">
		<div class="pagination">
			{TOTAL_GAMES}
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>
	</div>
	<!-- ENDIF -->
	<h3>{L_ARCADE_USER_STATS}</h3>
	<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
	<table class="table1" cellspacing="1">
	<thead>
		<tr>
			<th align="center" colspan="2">{L_ARCADE_GAME}</th>
			<th align="center">{L_ARCADE_SCORE}</th>
			<th align="center">{L_ARCADE_COMMENT}</th>
			<th align="center">{L_ARCADE_DATE}</th>
			<th align="center">{L_ARCADE_CHAMPION_PLAYED}</th>
			<th align="center">{L_ARCADE_STATS_TOTAL}</th>
			<th align="center">{L_ARCADE_STATS_AVG}</th>
		</tr>
	</thead>
	<tbody>
	<!-- BEGIN gamerow -->
		<tr class="<!-- IF gamerow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
			<!-- IF gamerow.GAME_IMAGE --><td align="center"><a href="{gamerow.U_GAME_PLAY}"><img src="{gamerow.GAME_IMAGE}" alt="{gamerow.GAME_NAME}" width="20" height="20" style="vertical-align: middle;" /></a></td><!-- ENDIF -->
			<td align="left"<!-- IF not gamerow.GAME_IMAGE --> colspan="2"<!-- ENDIF -->><a href="{gamerow.U_GAME_PLAY}">{gamerow.GAME_NAME}</a><!-- IF gamerow.GAME_IMAGE_FIRST -->&nbsp;&nbsp;<img src="{gamerow.GAME_IMAGE_FIRST}" alt="{L_ARCADE_FIRST}" style="vertical-align: middle;" /><!-- ENDIF --></td>
			<td align="center">{gamerow.SCORE}</td>
			<td align="center">{gamerow.COMMENT}</td>
			<td align="center">{gamerow.DATE}</td>
			<td align="center">{gamerow.TOTAL_PLAYS}</td>
			<td align="center">{gamerow.TOTAL_TIME}</td>
			<td align="center">{gamerow.AVG_TIME}</td>
		</tr>
	<!-- END gamerow -->
	</tbody>
	</table>
	<span class="corners-bottom"><span></span></span></div>
	</div>

	<!-- IF S_SELECT_SORT_KEY and S_SELECT_SORT_DIR -->
	<form method="post" action="{S_ARCADE_ACTION}">
		<fieldset class="display-options">
			<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box left">{L_PREVIOUS}</a><!-- ENDIF -->
			<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box right">{L_NEXT}</a><!-- ENDIF -->
			<label>{L_ARCADE_CATEGORY}: {S_SELECT_SORT_CAT}</label>
			<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
			<label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="button2" /></label>
		</fieldset>
	</form>
	<hr />
	<!-- ENDIF -->

<!-- IF TOTAL_GAMES -->
<div class="topic-actions">
	<div class="pagination">
		{TOTAL_GAMES}
		<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
	</div>
</div>
<!-- ENDIF -->
<!-- ELSEIF S_GAME_STATS -->
	<div class="panel bg1<!-- IF S_ONLINE --> online<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>
		<div class="column1">
			<h3>{L_ARCADE_GAME_STATS_INFO}</h3>
			<dl class="left-box">
				<!-- IF GAME_IMAGE --><dt><a href="{U_GAME_PLAY}"><img src="{GAME_IMAGE}" alt="{GAME_NAME}" width="50" height="50" /></a></dt><!-- ENDIF -->
				<dd>{GAME_NAME}</dd>
			</dl>
			<dl class="left-box details" style="width: 80%;">
				<dt>{L_ARCADE_STATS_TOTAL_PLAYS}:</dt> <dd>{GAME_TOTAL_PLAYS}</dd>
				<dt>{L_ARCADE_STATS_TOTAL_TIME}:</dt> <dd>{GAME_TOTAL_TIME}</dd>
				<!-- IF S_CAN_DOWNLOAD --><dt>{L_ARCADE_STATS_TOTAL_DOWNLOADS}:</dt> <dd>{GAME_DOWNLOAD}</dd><!-- ENDIF -->
				<dt>{GAME_RATING_IMG}</dt>
			</dl>
		</div>

		<div class="column2">
			<h3<!-- IF S_ONLINE -->  style="margin-right: 25px;"<!-- ENDIF -->>{L_ARCADE_GAME_CHAMP}</h3>
			<dl class="left-box">
				<dt><!-- IF AVATAR -->{AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF --></dt>
			</dl>
			<dl class="left-box details" style="width: 80%;">
				<dt>{L_USERNAME}:</dt>
				<dd>
					{BEST_USER}
				</dd>
				<dt>{L_ARCADE_STATS_BEST_SCORE}:</dt> <dd>{BEST_SCORE}</dd>
				<dt>{L_ARCADE_STATS_BEST_DATE}:</dt> <dd>{BEST_DATE}</dd>
			</dl>
		</div>
		<span class="corners-bottom"><span></span></span></div>	</div>

	<br />
	<!-- IF TOTAL_SCORES -->
	<div class="topic-actions">
		<div class="pagination">
			{TOTAL_SCORES}
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>
	</div>
	<!-- ENDIF -->

	<h3>{L_ARCADE_GAME_STATS}</h3>
	<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
	<table class="table1" cellspacing="1" style="table-layout: fixed;">
	<thead>
		<tr>
			<th style="text-align: center;">{L_ARCADE_RANK}</th>
			<th style="text-align: center;">{L_USERNAME}</th>
			<th style="text-align: center;">{L_ARCADE_SCORE}</th>
			<th style="text-align: center; width: 30%;">{L_ARCADE_COMMENT}</th>
			<th style="text-align: center;">{L_ARCADE_DATE}</th>
			<th style="text-align: center;">{L_ARCADE_CHAMPION_PLAYED}</th>
			<th style="text-align: center;">{L_ARCADE_STATS_TOTAL}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN scorerow -->
		<tr class="<!-- IF scorerow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
			<td style="text-align: center;">{scorerow.POS}</td>
			<td style="text-align: center;">{scorerow.USERNAME}</td>
			<td style="text-align: center;">{scorerow.SCORE}</td>
			<td style="text-align: center;"><div style="overflow: auto; min-height: 3em; height:auto !important; height:3em;">{scorerow.COMMENT}</div></td>
			<td style="text-align: center;">{scorerow.DATE}</td>
			<td style="text-align: center;">{scorerow.TOTAL_PLAYS}</td>
			<td style="text-align: center;">{scorerow.TOTAL_TIME}</td>
		</tr>
		<!-- END scorerow -->
	</tbody>
	</table>
	<span class="corners-bottom"><span></span></span></div>
	</div>

	<!-- IF TOTAL_SCORES -->
	<div class="topic-actions">
		<div class="pagination">
			{TOTAL_SCORES}
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>
	</div>
	<!-- ENDIF -->
<!-- ELSE -->

	<h2>{L_ARCADE_STATS}</h2>
	<!-- IF .record_row -->
	<h3>{L_ARCADE_LONGEST_SCORE}</h3>
	<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
	<table class="table1" cellspacing="1">
	<thead>
		<tr>
			<th align="center">{L_ARCADE_RANK}</th>
			<th align="center">{L_ARCADE_GAME_NAME}</th>
			<th align="center">{L_USERNAME}</th>
			<th align="center">{L_ARCADE_SCORE}</th>
			<th align="center">{L_ARCADE_TIME_HELD}</th>
			<th align="center">{L_ARCADE_DATE}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN record_row -->
		<tr class="<!-- IF record_row.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
			<td>{record_row.RANK}</td>
			<td>{record_row.GAME_NAME}</td>
			<td>{record_row.USERNAME}</td>
			<td>{record_row.HIGHSCORE}</td>
			<td>{record_row.TIME_HELD}</td>
			<td>{record_row.HIGHSCORE_DATE}</td>
		</tr>
		<!-- END record_row -->
	</tbody>
	</table>
	<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->

	<br />

	<div class="forabg">
		<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dd style="width: 33%; text-align: center;">{L_ARCADE_MOST_POPULAR}</dd>
					<dd style="width: 33%; text-align: center;">{L_ARCADE_LEADERS}</dd>
					<dd style="width: 33%; text-align: center;">{L_ARCADE_LEAST_POPULAR}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
		<li class="row">
			<dl>
				<dd style="width: 33%; text-align: left;"><!-- BEGIN pop_games -->&nbsp;&nbsp;<!-- IF pop_games.GAME_IMAGE --><a href="{pop_games.U_GAME_PLAY}"><img src="{pop_games.GAME_IMAGE}" alt="{pop_games.GAME_IMAGE_ALT}" width="20" height="20" style="vertical-align: middle;" /></a><!-- ENDIF -->&nbsp;{pop_games.GAME_NAME}<br /><!-- END pop_games --></dd>
				<dd style="width: 33%; text-align: left;"><!-- BEGIN users --><div style="padding-top: 3px;">&nbsp;&nbsp;{users.RANK}:&nbsp;<!-- IF users.AVATAR -->{users.AVATAR}<!-- ELSE -->{users.NO_AVATAR}<!-- ENDIF -->&nbsp;&nbsp;{users.USERNAME}<br /></div><!-- END users --></dd>
				<dd style="width: 33%; text-align: left;"><!-- BEGIN lpop_games -->&nbsp;&nbsp;<!-- IF lpop_games.GAME_IMAGE --><a href="{lpop_games.U_GAME_PLAY}"><img src="{lpop_games.GAME_IMAGE}" alt="{lpop_games.GAME_IMAGE_ALT}" width="20" height="20" style="vertical-align: middle;" /></a><!-- ENDIF -->&nbsp;{lpop_games.GAME_NAME}<br /><!-- END lpop_games --></dd>
			</dl>
		</li>
		</ul>
	<span class="corners-bottom"><span></span></span></div>
	</div>

	<br />

	<!-- IF S_DISPLAY_DOWNLOAD_STATS -->
	<div class="forabg">
		<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dd style="width: 49%; text-align: center;">{L_ARCADE_MOST_DOWNLOADED}</dd>
					<dd style="width: 49%; text-align: center;">{L_ARCADE_LEAST_DOWNLOADED}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
		<li class="row">
			<dl>
				<dd style="width: 49%; text-align: left;"><!-- BEGIN mostdownloaded_games -->&nbsp;&nbsp;<!-- IF mostdownloaded_games.GAME_IMAGE --><a href="{mostdownloaded_games.U_GAME_DOWNLOAD}"><img src="{mostdownloaded_games.GAME_IMAGE}" alt="{mostdownloaded_games.GAME_IMAGE_ALT}" width="20" height="20" style="vertical-align: middle;" /></a><!-- ENDIF -->&nbsp;{mostdownloaded_games.GAME_NAME}<br /><!-- END mostdownloaded_games --></dd>
				<dd style="width: 49%; text-align: left;"><!-- BEGIN leastdownloaded_games -->&nbsp;&nbsp;<!-- IF leastdownloaded_games.GAME_IMAGE --><a href="{leastdownloaded_games.U_GAME_DOWNLOAD}"><img src="{leastdownloaded_games.GAME_IMAGE}" alt="{leastdownloaded_games.GAME_IMAGE_ALT}" width="20" height="20" style="vertical-align: middle;" /></a><!-- ENDIF -->&nbsp;{leastdownloaded_games.GAME_NAME}<br /><!-- END leastdownloaded_games --></dd>
			</dl>
		</li>
		</ul>
	<span class="corners-bottom"><span></span></span></div>
	</div>

	<br />
	<!-- ENDIF -->

	<h3>{L_ARCADE_SELECT_STATS}</h3>

	<div class="forabg">
		<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dd style="width: 49%; text-align: center;">{L_ARCADE_GAME_STATS}</dd>
					<dd style="width: 49%; text-align: center;">{L_ARCADE_USER_STATS}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			<li class="row">
			<dl>
				<dd style="width: 49%; text-align: center;">
					<form action="{S_ACTION}" method="get" id="stat_all_games">
						<fieldset>
							{S_HIDDEN_FIELDS}
							<!-- IF .game_jump -->
							<select name="g">
								<!-- BEGIN game_jump -->
									<option value="{game_jump.GAME_ID}">{game_jump.GAME_NAME}</option>
								<!-- END game_jump -->
							</select>
							<input type="submit" value="{L_GO}" />
							<!-- ENDIF -->
						</fieldset>
					</form>
				</dd>
				<dd style="width: 49%; text-align: center;">
					<form action="{S_ACTION}" method="get" id="stat_all_users">
						<fieldset>
							{S_HIDDEN_FIELDS}
							<!-- IF .user_jump -->
							<select name="u">
								<!-- BEGIN user_jump -->
									<option value="{user_jump.USER_ID}">{user_jump.USERNAME}</option>
								<!-- END user_jump -->
							</select>
							<input type="submit" value="{L_GO}" />
							<!-- ENDIF -->
						</fieldset>
					</form>
				</dd>
			</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->
<br />

<!-- INCLUDE arcade/arcade_online_body.html -->
<!-- INCLUDE arcade/arcade_version_body.html -->
<!-- INCLUDE overall_footer.html -->
