<!-- IF S_SHOW_WELCOME_BOX -->
<h3>{L_ARCADE_WELCOME}</h3>
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dd style="width: 25%; text-align: center;">{L_ARCADE_NEWEST_GAMES}</dd>
						<dd style="width: 49%; text-align: center;">{L_ARCADE_LATEST_HIGHSCORES}</dd>
						<dd style="width: 25%; text-align: center;">{L_ARCADE_USER_INFO}</dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
			<li class="row">
				<dl>
					<dd style="width: 25%; text-align: left;">
						<!-- IF .newest_games -->
						<ul>
							<!-- BEGIN newest_games -->
							<li style="margin: 4px;">&nbsp;&nbsp;<!-- IF newest_games.GAME_IMAGE --><a href="{newest_games.U_GAME_PLAY}"><img src="{newest_games.GAME_IMAGE}" alt="{newest_games.GAME_NAME}" width="20" height="20" style="vertical-align: middle;" /></a><!-- ENDIF -->&nbsp;{newest_games.GAME_NAME}</li>
							<!-- END newest_games -->
						</ul>
						<!-- ELSE -->
							<div style="text-align: center;">{L_ARCADE_NO_GAMES}</div>
						<!-- ENDIF -->
					</dd>
					<dd style="width: 48%; padding-left: 5px;">
						<!-- IF .latest_scores -->
						<ul>
							<!-- BEGIN latest_scores -->
								<li><span style="float: right;">{latest_scores.L_HEADING_DATE}</span>{latest_scores.L_HEADING_CHAMP}</li>
							<!-- END latest_scores -->
						</ul>
						<!-- ELSE -->
							<div style="text-align: center;">{L_ARCADE_NO_LATEST_HIGHSCORES}</div>
						<!-- ENDIF -->

						<!-- IF .arcade_leaders -->
						<br />
						<br />
						<div style="text-align: center;">
							<b>{L_ARCADE_LEADERS}</b><br />
								<!-- BEGIN arcade_leaders -->
									<!-- IF arcade_leaders.ARCADE_LEADERS_ACTUAL_RANK <= 3 --><div style="float: left; width: {ARCADE_LEADERS_WIDTH}%"><!-- ENDIF --><!-- IF arcade_leaders.ARCADE_LEADERS_IMAGE --><img src="{arcade_leaders.ARCADE_LEADERS_IMAGE}" alt="{arcade_leaders.ARCADE_LEADERS_IMAGE_ALT}" style="vertical-align: middle;" /><br /><!-- ENDIF -->&nbsp;&nbsp;{arcade_leaders.ARCADE_LEADERS_RANK}:&nbsp;{arcade_leaders.ARCADE_LEADERS}&nbsp;({arcade_leaders.VICTORIES})<!-- IF arcade_leaders.ARCADE_LEADERS_ACTUAL_RANK <= 3 --></div><!-- ELSE --><br /><!-- ENDIF --><!-- IF arcade_leaders.ARCADE_LEADERS_ACTUAL_RANK == 3 and not arcade_leaders.S_LAST_ROW --><br style="clear:both" /><!-- ENDIF -->
								<!-- END arcade_leaders -->
						</div>
						<br style="clear:both" />
						<!-- ENDIF -->
						<!-- IF TOTAL_GAMES_HEADER -->
						<br />
						<p style="text-align: center;">{TOTAL_GAMES_HEADER}<!-- IF TOTAL_GAMES_PLAYED -->&nbsp;&nbsp;{TOTAL_GAMES_PLAYED}<!-- ENDIF --><!-- IF TOTAL_DOWNLOADS_HEADER and S_CAN_DOWNLOAD -->&nbsp;&nbsp;{TOTAL_DOWNLOADS_HEADER}<!-- ENDIF --></p>
						<!-- ENDIF -->
					</dd>
					<dd style="width: 25%; text-align: center; margin-left: 5px;">
						<br />
							<!-- IF HEADER_AVATAR -->{HEADER_AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF --><!-- IF HEADER_USERNAME or HEADER_USER_RANK or HEADER_RANK_IMAGE --><br /><br /><!-- ENDIF -->
							<!-- IF HEADER_USERNAME -->{HEADER_USERNAME}<br /><!-- ENDIF -->
							<!-- IF HEADER_USER_RANK -->{HEADER_USER_RANK}<br /><!-- ENDIF -->
							<!-- IF HEADER_RANK_IMAGE -->{HEADER_RANK_IMAGE}<br /><!-- ENDIF -->
						<!-- IF HEADER_ARCADE_WINS or HEADER_ARCADE_PLAYS or HEADER_ARCADE_TIME -->
						<br />
						<ul>
							<!-- IF S_SHOW_POINTS --><li><strong>{L_ARCADE_BALANCE}</strong>: {HEADER_USER_POINTS}</li><!-- ENDIF -->
							<!-- IF HEADER_ARCADE_WINS --><li><strong>{L_ARCADE_WELCOME_WINS}</strong>: {HEADER_ARCADE_WINS}</li><!-- ENDIF -->
							<!-- IF HEADER_ARCADE_PLAYS --><li><strong>{L_ARCADE_WELCOME_PLAYS}</strong>: {HEADER_ARCADE_PLAYS}</li><!-- ENDIF -->
							<!-- IF HEADER_ARCADE_TIME --><li><strong>{L_ARCADE_WELCOME_TIME}</strong>: {HEADER_ARCADE_TIME}</li><!-- ENDIF -->
						</ul>
						<!-- ENDIF -->
					</dd>
				</dl>
			</li>
			</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
<br />
<!-- ENDIF -->
<!-- IF S_SHOW_ADV_SEARCH -->
	<h3>{L_ARCADE_ADV_SEARCH}</h3>

		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dd style="width: 33%; text-align: center;">{L_ARCADE_QUICK_JUMP}</dd>
						<dd style="width: 33%; text-align: center;">{L_ARCADE_SEARCH}</dd>
						<dd style="width: 33%; text-align: center;">{L_ARCADE_GAME_FAVS}</dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
				<li class="row">
				<dl>
					<dd style="width: 33%; text-align: center;">
						<form action="{S_ACTION}" method="get" id="all_games">
							<fieldset>
								{S_HEADER_HIDDEN_FIELDS}
								<select name="g"<!-- IF S_USER_LOGGED_IN and not S_IS_BOT --> title="{L_ARCADE_PLAYED_GAMES_HIGHLIGHT}"<!-- ENDIF -->>
									<!-- BEGIN quick_jump -->
										<option value="{quick_jump.GAME_ID}"<!-- IF not quick_jump.S_PLAYED_GAME --> style="background-color: #{PLAYED_GAME_COLOUR};"<!-- ENDIF -->>{quick_jump.GAME_NAME}</option>
									<!-- END quick_jump -->
								</select>
								<input type="submit" value="{L_GO}" />
							</fieldset>
						</form>
					</dd>
					<dd style="width: 33%; text-align: center;">
						<form action="{S_ACTION_SEARCH}" method="post" id="search_games">
							<fieldset>
								{S_HEADER_HIDDEN_FIELDS_SEARCH}
								<input type="text" name="term" maxlength="128" title="{L_ARCADE_SEARCH_DESCRIPTION}" value="<!-- IF SEARCH_TERM and not S_IN_SEARCH_NEW_GAMES -->{SEARCH_TERM}<!-- ELSE -->{L_SEARCH_MINI}<!-- ENDIF -->" onclick="if(this.value=='{LA_SEARCH_MINI}')this.value='';" onblur="if(this.value=='')this.value='{LA_SEARCH_MINI}';" class="inputbox autowidth search" />
								<input type="submit" value="{L_SEARCH}" />
							</fieldset>
						</form>
					</dd>
					<dd style="width: 33%; text-align: center;">
					<!-- IF .fav -->
						<form action="{S_ACTION}" method="get" id="fav_games">
							<fieldset>
								{S_HEADER_HIDDEN_FIELDS}
								<select name="g">
								<!-- BEGIN fav -->
									<option value="{fav.GAME_ID}">{fav.GAME_NAME}</option>
								<!-- END fav -->
								</select>
								<input type="submit" value="{L_GO}" />
							</fieldset>
						</form>
					<!-- ELSE -->
						<!-- IF S_USER_LOGGED_IN -->
						{L_ARCADE_NO_GAME_FAVS}
						<!-- ELSE -->
						{L_ARCADE_GUEST_FAVS}
						<!-- ENDIF -->
					<!-- ENDIF -->
					</dd>
				</dl>
				</li>
			</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
<br />
<!-- ENDIF -->
<!-- IF S_SHOW_LINKS -->
<div style="text-align: center;"><!-- IF S_HEADER_FEELING_LUCKY --><a href="{U_HEADER_FEELING_LUCKY}">{L_ARCADE_FEELING_LUCKY}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<!-- ENDIF --><a href="{U_HEADER_NEW_GAMES}">{L_ARCADE_SEARCH_NEW_GAMES}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<!-- IF S_USER_LOGGED_IN --><a href="{U_HEADER_MY_FAV}">{L_ARCADE_FAV}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<!-- ENDIF --><a href="{U_HEADER_STATS}">{L_ARCADE_STATS}</a><!-- IF S_USER_LOGGED_IN -->&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{U_HEADER_MY_STATS}">{L_ARCADE_MY_STATS}</a><!-- ENDIF --></div>
<br />
<!-- ENDIF -->