<!-- INCLUDE overall_header.html -->
<!-- IF S_ARCADE_REPORT_ADD -->
<div class="panel" id="message">
	<div class="inner"><span class="corners-top"><span></span></span>
	<h2>{MESSAGE_TITLE}</h2>
	<p>{MESSAGE_TEXT}</p>
	<p><a href="{U_ARCADE}" class="{S_CONTENT_FLOW_BEGIN}">{L_RETURN_TO_ARCADE}</a></p>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ELSE -->
<h2>{L_ARCADE_REPORT}</h2>
<form id="postform" method="post" action="{S_ACTION}">
<div class="panel" id="postingbox">
	<div class="inner"><span class="corners-top"><span></span></span>
	<fieldset class="fields1">
		<div id="format-buttons">
			{L_ARCADE_REPORT_TYPE}: {ARCADE_REPORT_TYPE_SELECT}
		</div>
		<div id="smiley-box">
		<p><strong>{GAME_NAME}</strong></p>
		<p><img src="{GAME_IMAGE}" width="50" height="50" alt="{GAME_NAME}" /></p>
		<p>{GAME_DESC}</p>
		<p>{GAME_FILESIZE}</p>
		</div>
		<div id="message-box">
			<textarea name="report_desc" id="report_desc" rows="15" cols="76" tabindex="3" class="inputbox"></textarea>
		</div>
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
	<fieldset class="submit-buttons">
		<input type="submit" accesskey="s" tabindex="6" name="submit" value="{L_SUBMIT}" class="button1" />&nbsp;
		{S_HIDDEN_FIELDS}
		{S_FORM_TOKEN}
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>
</form>
<!-- ENDIF -->
<!-- INCLUDE arcade/arcade_version_body.html -->

<!-- INCLUDE overall_footer.html -->