<!-- IF S_PLAY_FULL -->
<!-- INCLUDE overall_header.html -->
<br />
<div id="game_container" style="float: left; width: 75%; text-align: center;">
	<script type="text/javascript" src="includes/arcade/swfobject.js"></script>
	<div id="{GAME_SCOREVAR}">
		<h1>{L_ARCADE_FLASH_VERSION}</h1>
		<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
	</div>
	
	<script type="text/javascript">		
		var x = document.getElementById('game_container');
		var width = {GAME_WIDTH};
		var height = {GAME_HEIGHT};
		if ({GAME_WIDTH} > x.offsetWidth)
		{
			var	resize = x.offsetWidth / {GAME_WIDTH} - .05
			width = resize * {GAME_WIDTH}; 
			height = resize * {GAME_HEIGHT};
		}	
		
		var flashvars = {
		<!-- IF S_IS_IBPROV3 -->
			ibpro_gameid: "{GAME_GID_ENCODED}"
		<!-- ELSE -->
			game_sid: "{GAME_SID}",
			g: "{GAME_ID}"
		<!-- ENDIF -->
		};

		var params = {
			menu: "false",
			quality: "high"
		};

		swfobject.embedSWF("{GAME_SWF}", "{GAME_SCOREVAR}", width, height, "{FLASH_VERSION}", false, flashvars, params);

		<!-- IF S_RESOLUTION_SELECT -->
		function swfobject_resize(size) 
		{
			var container = document.getElementById('game_container');
			var flash = document.getElementById('{GAME_SCOREVAR}');
			if (size == 'reduce')
			{
				document.getElementById('{GAME_SCOREVAR}').width = .75 * flash.offsetWidth; 
				document.getElementById('{GAME_SCOREVAR}').height = .75 * flash.offsetHeight; 	
			}
			else if (size == 'increase')
			{
				if (container.offsetWidth > (1.25 * flash.offsetWidth))
				{
					document.getElementById('{GAME_SCOREVAR}').width = 1.25 * flash.offsetWidth; 
					document.getElementById('{GAME_SCOREVAR}').height = 1.25 * flash.offsetHeight; 	
				}
			}
			else
			{
				size = container.offsetWidth / {GAME_WIDTH} - .05;
				document.getElementById('{GAME_SCOREVAR}').width = size * {GAME_WIDTH}; 
				document.getElementById('{GAME_SCOREVAR}').height = size * {GAME_HEIGHT}; 
			}
		}
		<!-- ENDIF -->
	</script>
</div>

<div style="float: left; width: 25%;">
<!-- IF S_USE_HIGHSCORES -->
	<div class="forabg">
		<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dd>{L_ARCADE_GAME_CHAMPION}</dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
			<li class="row">
				<dl>
					<dd style="width: 100%; text-align: center;">
					<!-- IF .scorerow -->
						<!-- IF FIRST_AVATAR --><div style="float: right;">{FIRST_AVATAR}&nbsp;&nbsp;&nbsp;</div><!-- ELSE --><div style="float: right;"><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" />&nbsp;&nbsp;&nbsp;</div><!-- ENDIF -->
						<b>{GAME_NAME} {L_ARCADE_GAME_CHAMPION}</b><br />
						{BEST_USER_NAME}<br /><br />
						<b>{L_ARCADE_HIGHSCORE}</b><br />
						{BEST_SCORE}<br />
						<hr />
						<b>{L_ARCADE_CHAMPION_PLAYED}</b><br />
						{BEST_PLAYED}<br /><br />
						<b>{L_ARCADE_CHAMPION_SPENT}</b><br />
						{BEST_TIME}<br /><br />
						{BEST_DATE_EXPLAIN}<br />
					<!-- ELSE -->
						{L_ARCADE_NO_HIGHSCORE}
					<!-- ENDIF -->
					</dd>
				</dl>
			</li>
			</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
<!-- ENDIF -->
<!-- IF S_DISPLAY_DESC -->
	<br />
	<div class="forabg">
		<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dd>{L_ARCADE_GAME_DESC}</dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
			<li class="row">
				<dl>
					<dd style="width: 100%; text-align: center;"><span style="padding: 3px;">{GAME_DESC}</span></dd>
				</dl>
			</li>
			</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->
	<br />
	<div class="forabg">
		<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dd>{L_ARCADE_GAME_OPTIONS}</dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
			<li class="row">
				<!-- IF S_RESOLUTION_SELECT -->
				<dl>
					<dd style="width: 100%; text-align: center;">
						<fieldset>
							<strong>{L_ARCADE_RESOLUTION}</strong><br />
							<a href="#" onclick="swfobject_resize('reduce')">{L_ARCADE_RESOLUTION_REDUCE}</a>&nbsp;&nbsp;<a href="#" onclick="swfobject_resize('auto')">{L_ARCADE_RESOLUTION_AUTO}</a>&nbsp;&nbsp;<a href="#" onclick="swfobject_resize('increase')">{L_ARCADE_RESOLUTION_INCREASE}</a>
						</fieldset>
					</dd>
				</dl>
				<!-- ENDIF -->
				<dl>
					<!-- IF S_USER_LOGGED_IN and not S_IS_BOT -->
						<!-- IF S_SHOW_POINTS --><dd style="width: 100%; text-align: center;">{L_ARCADE_BALANCE}: {USER_POINTS}<br />{L_ARCADE_COST}: {GAME_COST}<br /><!-- IF S_USE_JACKPOT -->{L_ARCADE_JACKPOT}<!-- ELSE -->{L_ARCADE_REWARD}<!-- ENDIF -->: {GAME_REWARD}</dd><!-- ENDIF -->
					<!-- ENDIF -->
					<dd style="width: 100%; text-align: center;"><!-- IF GAME_FAV_IMG -->{GAME_FAV_IMG}<br /><!-- ENDIF --><!-- IF S_GAME_DOWNLOAD --><a href="{U_GAME_DOWNLOAD}">{L_ARCADE_DOWNLOAD_GAME}</a><br /><!-- ENDIF --><!-- IF S_CAN_REPORT --><a href="{U_GAME_REPORT}">{L_ARCADE_REPORT_GAME}</a><br /><!-- ENDIF -->{GAME_FILESIZE}</dd>
				</dl>
			</li>
			</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>

<!-- IF S_USE_HIGHSCORES and .scorerow -->
	<br />
	<!-- IF BEST_COMMENT -->
	<div class="forabg">
		<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dd>{L_ARCADE_GAME_CHAMPION_COMMENT}</dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
			<li class="row">
				<dl>
					<dd style="width: 100%; text-align: center;"><div style="overflow: auto; min-height: 3em; height:auto !important; height:3em;">{BEST_COMMENT}</div></dd>
				</dl>
			</li>
			</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<br />
	<!-- ENDIF -->

	<div class="forabg">
		<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dd>{L_ARCADE_TOP_SCORES}</dd>
					</dl>
				</li>
			</ul>
			<table class="table1" cellspacing="1">
			<tbody>
				<!-- BEGIN scorerow -->
				<tr class="<!-- IF scorerow.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
					<td style="text-align: center; width: 15%;<!-- IF scorerow.USER_ID == S_USER_ID --> font-weight:bold;<!-- ENDIF -->">{scorerow.POS}</td>
					<td style="text-align: center; width: 70%;<!-- IF scorerow.USER_ID == S_USER_ID --> font-weight:bold;<!-- ENDIF -->">{scorerow.USERNAME}</td>
					<td style="text-align: center; width: 15%;<!-- IF scorerow.USER_ID == S_USER_ID --> font-weight:bold;<!-- ENDIF -->">{scorerow.SCORE}</td>
				</tr>
				<!-- END scorerow -->
			</tbody>
			</table>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->
</div>

<div style="clear:both;">&nbsp;</div>

<!-- INCLUDE arcade/arcade_online_body.html -->
<!-- INCLUDE arcade/arcade_version_body.html -->
<!-- INCLUDE overall_footer.html -->

<!-- ELSEIF S_PLAY_POPUP -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>

<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
<meta http-equiv="content-language" content="{S_USER_LANG}" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="copyright" content="2002-2006 phpBB Group" />
<meta name="keywords" content="" />
<meta name="description" content="" />
{META}
<script type="text/javascript" src="includes/arcade/swfobject.js"></script>
<style type="text/css">

	/* hide from ie on mac \*/
	html {
		height: 100%;
		overflow: hidden;
	}

	#flashcontent {
		height: 100%;
	}
	/* end hide */

	body {
		height: 100%;
		margin: 0;
		padding: 0;
		background-color: #ffffff;
	}

</style>
<script type="text/javascript">
function GetWidth()
{
	var x = 0;
	if (self.innerWidth)
	{
			x = self.innerWidth;
	}
	else if (document.documentElement && document.documentElement.clientHeight)
	{
			x = document.documentElement.clientWidth;
	}
	else if (document.body)
	{
			x = document.body.clientWidth;
	}
	return x;
}

function GetHeight()
{
	var y = 0;
	if (self.innerHeight)
	{
			y = self.innerHeight;
	}
	else if (document.documentElement && document.documentElement.clientHeight)
	{
			y = document.documentElement.clientHeight;
	}
	else if (document.body)
	{
			y = document.body.clientHeight;
	}
	return y;
}

function FitScreen()
{
	if (GetWidth() != {GAME_WIDTH} || GetHeight() != {GAME_HEIGHT})
	{
		var w = 0
		var h = 0;
		w = {GAME_WIDTH} - GetWidth() ;
		h = {GAME_HEIGHT} - GetHeight() ;
		window.self.resizeBy(w,h);
		window.self.moveTo((screen.width / 2) - ({GAME_WIDTH} / 2), (screen.height / 2) - ({GAME_HEIGHT} / 2));
	}
	return false;
}
</script>
<title><!-- IF S_USE_HIGHSCORES -->{POPUP_TITLE}<!-- ELSE -->{GAME_NAME}<!-- ENDIF --></title>
</head>
<body onload='FitScreen();'>
	<div id="{GAME_SCOREVAR}">
		<h1>{L_ARCADE_FLASH_VERSION}</h1>
		<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
	</div>
	<script type="text/javascript">
		var flashvars = {
		<!-- IF S_IS_IBPROV3 -->
			ibpro_gameid: "{GAME_GID_ENCODED}"
		<!-- ELSE -->
			game_sid: "{GAME_SID}"
		<!-- ENDIF -->
		};

		var params = {
			menu: "false",
			quality: "high"
		};

		swfobject.embedSWF("{GAME_SWF}", "{GAME_SCOREVAR}", "100%", "100%", "{FLASH_VERSION}", false, flashvars, params);
	</script>
</body>
</html>
<!-- ENDIF -->