<!-- IF S_USE_SIMPLE_HEADER -->
<!-- INCLUDE simple_header.html -->
	<!-- IF S_SCORE_DONE -->
	<script type="text/javascript">
	function refresh_page()
	{
		if (window.opener && !window.opener.closed)
		{
			window.opener.location.reload(true);
			var url = '{CAT_URL}';
			window.opener.location.href = url.replace(/&amp;/g, '&');
			window.self.close();
	    }

	}
	</script>
	<!-- ELSE -->
	<script type="text/javascript">
		window.self.resizeTo(screen.width * .70, screen.height * .70);
		window.moveTo((screen.width / 2) - ((screen.width * .70) / 2), (screen.height/2) - ((screen.height * .70) / 2));
	</script>
	<!-- ENDIF -->
<!-- ELSE -->
<!-- INCLUDE overall_header.html -->
<!-- ENDIF -->

<!-- IF S_SCORE_DONE -->
<h2>{L_ARCADE_GAME_OVER}</h2>
<div class="forabg">
<div class="inner"><span class="corners-top"><span></span></span>
<ul class="topiclist">
	<li class="header">
		<dl>
			<dd></dd>
		</dl>
	</li>
</ul>
<ul class="topiclist forums">
<li class="row">
	<dl>
		<dd style="width: 100%;">
			<div style="float: left; padding: 5px; margin: 5px;">
				<a href="{GAME_URL}"><img src="{GAME_IMAGE}" alt="{GAME_NAME}" /></a>
			</div>
			<div style="float: right; padding: 5px; margin: 5px;">
				<a href="{GAME_URL}"><img src="{GAME_IMAGE}" alt="{GAME_NAME}" /></a>
			</div>
			<div style="text-align: center;">{L_ARCADE_DONE}</div>
		</dd>
	</dl>
</li>
</ul>
<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ELSE -->
<script type="text/javascript" src="{T_TEMPLATE_PATH}/editor.js"></script>
<h2>{L_ARCADE_GAME_OVER}</h2>
<form id="postform" method="post" action="{S_ACTION}">
<div class="panel" id="postingbox">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{ARCADE_SCORE_DESC}</h3>

	<fieldset class="fields1">
		<!-- IF (S_HAS_PERM_COMMENT and S_SMILIES_ALLOWED) or S_HAS_PERM_RATE -->
		<div id="smiley-box">
			<!-- IF S_HAS_PERM_COMMENT and S_SMILIES_ALLOWED -->
				<!-- IF .smiley -->
					<strong>{L_SMILIES}</strong><br />
					<!-- BEGIN smiley -->
						<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
					<!-- END smiley -->
				<!-- ENDIF -->
				<!-- IF S_SHOW_SMILEY_LINK -->
					<br /><a href="{U_MORE_SMILIES}" onclick="window.open('{U_MORE_SMILIES}', '_phpbbsmilies', 'HEIGHT=350,resizable=yes,scrollbars=yes,WIDTH=300'); return false;">{L_MORE_SMILIES}</a>
				<!-- ENDIF -->

				<hr />
			<!-- ENDIF -->

			<!-- IF S_HAS_PERM_RATE -->
				<!-- IF ARCADE_GAME_RATE_ALREADY -->
					{ARCADE_GAME_RATE_ALREADY}<br /><br />
				<!-- ENDIF -->
					<b>{L_ARCADE_GAME_RATE}:</b><br />
					{GAME_RATING_SELECT}
				<hr />
			<!-- ENDIF -->			
		</div>
		<!-- ENDIF -->

		<!-- IF S_HAS_PERM_COMMENT -->
			<script type="text/javascript">
			// <![CDATA[
				var form_name = 'postform';
				var text_name = 'message';
			// ]]>
			</script>
			<!-- IF not S_HAS_PERM_RATE --><div style="text-align: center;"><!-- ENDIF -->
				<div id="message-box">
					<textarea name="message" id="message" rows="15" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" title="{L_ARCADE_SCORE_COMMENT}" class="inputbox">{SCORE_COMMENT}</textarea>
				</div>
			<!-- IF not S_HAS_PERM_RATE --></div><!-- ENDIF -->
		<!-- ENDIF -->
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
	<fieldset class="submit-buttons">
		<input type="submit" accesskey="s" tabindex="6" name="submit" value="{L_SUBMIT}" class="button1" />&nbsp;
		{S_HIDDEN_FIELDS}
		{S_FORM_TOKEN}
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>
</form>
<!-- ENDIF -->

<!-- INCLUDE arcade/arcade_online_body.html -->
<!-- INCLUDE arcade/arcade_version_body.html -->

<!-- IF S_USE_SIMPLE_HEADER -->
<!-- INCLUDE simple_footer.html -->
<!-- ELSE -->
<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->

