<!-- INCLUDE overall_header.html -->
<form id="selectmethod" method="post" action="{U_ACTION}">

	<h2>{L_ARCADE_DOWNLOAD_GAME}</h2>

	<div class="forabg">
		<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dd style="width: 100%; text-align: center;">{ARCADE_DOWNLOAD_FORMAT}</dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
			<li class="row">
				<dl>
					<dd style="width: 100%; text-align: center;">
						<b>{L_ARCADE_DOWNLOAD_AS}:</b>&nbsp;{RADIO_BUTTONS}
					</dd>
				</dl>
			</li>
			</ul>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="download" value="{L_ARCADE_DOWNLOAD}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
	</fieldset>
</form>
<br />
<!-- INCLUDE arcade/arcade_online_body.html -->
<!-- INCLUDE arcade/arcade_version_body.html -->
<!-- INCLUDE overall_footer.html -->
