<!-- IF not S_HIDE_ADS -->
    <div id="stg_ads" style="text-align:center; margin: 10px 0;">
    	<div class="<!-- IF SCRIPT_NAME eq "viewtopic" -->navbar<!-- ELSE -->forumbg<!-- ENDIF -->" style="width:750px; margin:0 auto;">
            <div class="inner"><span class="corners-top"><span></span></span>
                <script type="text/javascript"><!--
					google_ad_client = "pub-1284728315041815";			// enter your client (publication) ID
					google_alternate_ad_url = "";	// enter your alternate ad URL (if any)
					google_ad_width = 728;
					google_ad_height = 90;
					google_ad_format = "728x90_as";
					google_ad_type = "text_image";
					google_ad_channel = "";			// enter your channel ID (if any)
					<!-- IF SCRIPT_NAME eq "viewtopic" -->
					google_color_border = "CADCEB";
					google_color_bg = "CADCEB";
					<!-- ELSE -->
					google_color_border = "12A3EB";
					google_color_bg = "E1EBF2";
					<!-- ENDIF -->
					google_color_link = "105289";
					google_color_text = "333333";
					google_color_url = "DC2A4D";
                //-->
                </script>
                <script type="text/javascript"
                  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            <span class="corners-bottom"><span></span></span></div>
        </div>
    </div>
    <!-- ENDIF -->