<!-- IF not S_HIDE_ADS -->

	<div id="google{postrow.POST_ID}" class="post bg1 online">
		<div class="inner"><span class="corners-top"><span></span></span>

		<div class="postbody">
        
			<p class="author">{postrow.MINI_POST_IMG}</p>

			<div class="content"><script type="text/javascript"><!--
					google_ad_client = "pub-1284728315041815";			// enter your google adsense publication ID
					google_alternate_ad_url = "";	// enter an alternate ad URL (if any)
					google_ad_width = 728;
					google_ad_height = 90;
					google_ad_format = "728x90_as";
					google_ad_type = "text_image";
					google_ad_channel = "";			// enter your ad channel ID (if any)
					google_color_border = "CADCEB";
					google_color_bg = "ECF3F7";
					google_color_link = "105289";
					google_color_text = "333333";
					google_color_url = "DC2A4D";
                //-->
                </script>
                <script type="text/javascript"
                  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script></div>

		</div>

			<dl class="postprofile" id="profile{postrow.POST_ID}">
			<dt>
				<a href="#"><img src="{T_THEME_PATH}/images/google.jpg" alt="google adsense" /></a><br />
				<a href="#" style="color:#1845ad;">G<span style="color:#ad1400;">o</span><span style="color:#c69e00;">o</span>g<span style="color:#31b639;">l</span><span style="color:#ad1400;">e</span></a>
			</dt>

		<dd>&nbsp;</dd>

		</dl>

		<div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<hr class="divider" />
    
<!-- ENDIF -->