<!-- IF ANNOUNCEMENT_ENABLE-->
<!-- IF ANNOUNCEMENT_ENABLE_GUESTS and not S_USER_LOGGED_IN and not ANNOUNCEMENT_SHOW_EVERYONE and not ANNOUNCEMENT_SHOW or ANNOUNCEMENT_SHOW-->
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt >
<!-- IF ANNOUNCEMENT_ENABLE_GUESTS and not S_USER_LOGGED_IN and not ANNOUNCEMENT_SHOW_EVERYONE and not ANNOUNCEMENT_SHOW-->
<!-- IF ANNOUNCEMENT_TITLE_GUESTS -->{ANNOUNCEMENT_TITLE_GUESTS} <!-- ELSE --> {L_ANNOUNCEMENT_TITLE_GUESTS}<!-- ENDIF -->
<!-- ELSEIF ANNOUNCEMENT_SHOW-->
<!-- IF ANNOUNCEMENT_TITLE --> {ANNOUNCEMENT_TITLE} <!-- ELSE --> {L_ANNOUNCEMENT_TITLE}<!-- ENDIF -->
<!-- ENDIF -->
						</dt>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
		<li class="row">
			<dl style="text-align:center;">
<!-- IF ANNOUNCEMENT_ENABLE_GUESTS and not S_USER_LOGGED_IN and not ANNOUNCEMENT_SHOW_EVERYONE and not ANNOUNCEMENT_SHOW-->

			<br />{ANNOUNCEMENT_TEXT_GUESTS}<br /><br />
<!-- ELSEIF ANNOUNCEMENT_SHOW-->
<!-- IF ANNOUNCEMENT_SHOW_BIRTHDAY-->
<img src="styles/prosilver/imageset/birthday.png" title="{L_CONGRATULATIONS}" alt="{L_CONGRATULATIONS}" border="0" /><br>
<center><table><tr align="center">
<!-- IF ANNOUNCEMENT_BIRTHDAY_AVATAR -->
<!-- BEGIN bdannounce -->
<td><table><tr align="center" height="42"><td>{bdannounce.AVATAR}</td></tr><tr align="center" valign="bottom"><td><b>{bdannounce.USERNAME}</b></td></tr></table></td>
<!-- END bdannounce -->
<!-- ELSE -->
<!-- BEGIN bdannounce -->
<td><td><b>{bdannounce.USERNAME}</b></td>
<!-- END bdannounce -->
<!-- ENDIF -->
</tr></table></center>
<!-- ELSE -->
			<br />{ANNOUNCEMENT_TEXT}<br /><br />
<!-- ENDIF -->
<!-- ENDIF -->
		</dl>
		</li>
		</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
<!-- ENDIF -->
<!-- ENDIF -->

