<!-- INCLUDE overall_header.html -->

<div id="pagecontent">

	<form method="post" action="{S_CONTACT_ACTION}"{S_FORM_ENCTYPE}>
	
	<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	
		<h2>{L_CONTACT_BOARD_ADMIN}</h2>
		
		<fieldset class="fields2">
		<!-- IF S_ERROR -->
		<p class="error">{S_ERROR}</p>
		<!-- ENDIF -->
		<!-- IF not S_USER_LOGGED_IN -->
		<dl>
			<dt><label for="contact_name">{L_CONTACT_YOUR_NAME}:</label><br /><span>{L_CONTACT_YOUR_NAME_EXPLAIN}</span></dt>
			<dd><input type="text" class="inputbox autowidth" name="contact_name" id="contact_name" value="{CONTACT_NAME}" size="30" tabindex="1" /></dd>
		</dl>
		<dl>
			<dt><label for="contact_email">{L_CONTACT_YOUR_EMAIL}:</label><br /><span>{L_CONTACT_YOUR_EMAIL_EXPLAIN}</span></dt>
			<dd><input type="text" class="inputbox autowidth" name="contact_email" id="contact_email" value="{CONTACT_EMAIL}" size="30" tabindex="2" /></dd>
		</dl>
		
		<hr />
		<!-- ENDIF -->
		<!-- IF REASONS -->
		<dl>
			<dt><label for="reason">{L_CONTACT_REASON}:</label></dt>
			<dd><select name="reason" id="reason" tabindex="3">{REASONS}</select></dd>
		</dl>
		<!-- ENDIF -->
		<dl>
			<dt><label for="subject">{L_SUBJECT}:</label></dt>
			<dd><input type="text" size="45" maxlength="64" class="inputbox" name="subject" id="subject" value="{SUBJECT}" size="30" tabindex="4" /></dd>
		</dl>
		<dl>
			<dt><label for="message">{L_MESSAGE_BODY}:</label></dt>
			<dd><textarea name="message" id="message" class="inputbox" rows="15" cols="76" tabindex="5">{MESSAGE}</textarea></dd>
		</dl>
		</fieldset>
		
		<span class="corners-bottom"><span></span></span></div>
	
	</div>
	
	<!-- IF S_CONFIRM_CODE -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		
		<h3>{L_CONTACT_CONFIRM}</h3>
		
		<p>{L_CONTACT_CONFIRM_EXPLAIN}</p>
		
		<fieldset class="fields2">
		<dl>
			<dt><label for="confirm_code">{L_CONFIRM_CODE}:</label></dt>
			<dd>{CONFIRM_IMG}</dd>
			<dd><input type="text" name="confirm_code" id="confirm_code" size="8" maxlength="8" class="inputbox narrow" title="{L_CONTACT_CONFIRM}" tabindex="6" /></dd>
			
			<dd>{L_CONFIRM_CODE_EXPLAIN}</dd>
		</dl>
		</fieldset>
		
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->
	
	<div class="panel bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
		
		<fieldset class="submit-buttons">
			{S_HIDDEN_FIELDS}
			<input class="button1" name="submit" type="submit" value="{L_SUBMIT}" accesskey="s" tabindex="7" />&nbsp;
			<input class="button2" type="reset" value="{L_RESET}" accesskey="r" />&nbsp;
		</fieldset>
	
		<span class="corners-bottom"><span></span></span></div>
	</div>
	
	</form>

</div>

<!-- INCLUDE overall_footer.html -->