<!-- IF QUICK_REPLY_ALLOWED -->
<script type="text/javascript">
// <![CDATA[
	var LA_TOO_FEW_CHARS	= "{LA_QUICK_REPLY_TOO_FEW_CHARS}";
	var LA_SHOW_OPTIONS		= "{LA_QUICK_REPLY_SHOW_OPTIONS}";
	var LA_HIDE_OPTIONS		= "{LA_QUICK_REPLY_HIDE_OPTIONS}";
	var LA_SHOW_QUICK_REPLY	= "{LA_QUICK_REPLY_SHOW}";
	var LA_HIDE_QUICK_REPLY	= "{LA_QUICK_REPLY_HIDE}";
	var QUICK_REPLY_COOKIE	= "{QUICK_REPLY_COOKIE_NAME}";
	<!-- IF QUICK_REPLY_POST_IDS -->
	var prime_post_ids		= [{QUICK_REPLY_POST_IDS}]; 
	<!-- IF PRIME_MULTI_QUOTE -->
	var LA_NONE_SELECTED	= "{LA_QUICK_REPLY_NO_QUOTES_SELECTED}";
	var LA_QUOTE_SELECTED	= "{LA_QUICK_REPLY_QUOTE_SELECTED}";
	<!-- ENDIF -->
	<!-- ENDIF -->

	// For editor.js
	var	form_name = 'postform';
	var	text_name = 'message';
// ]]>
</script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/editor.js" ></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/prime_quick_reply.js" ></script>
<div id="quick_reply" style="width:100%;">
	<div class="panel" id="postingbox" style="padding-bottom:0;">
		<div class="inner"><span class="corners-top"><span></span></span>
		<h3><a name="toggle_quick_reply_options" id="toggle_quick_reply_options" class="down" style="float:right;clear:right;cursor:pointer;font-weight:normal;text-transform:none;<!-- IF not QUICK_REPLY_SHOW_FORM -->display:none;<!-- ENDIF -->" onclick="prime_quick_reply_toggle(this);"><!-- IF QUICK_REPLY_SHOW_OPTIONS -->{L_QUICK_REPLY_HIDE_OPTIONS}<!-- ELSE -->{L_QUICK_REPLY_SHOW_OPTIONS}<!-- ENDIF --></a><a name="toggle_postform" id="toggle_postform" style="cursor:pointer;text-transform:none;font-family:Verdana, Helvetica, Arial, sans-serif;" onclick="prime_quick_reply_toggle(this);"><!-- IF QUICK_REPLY_SHOW_FORM -->{L_QUICK_REPLY_HIDE}<!-- ELSE -->{L_QUICK_REPLY_SHOW}<!-- ENDIF --></a> <span style="color:#000;">{L_QUICK_REPLY_POST_REPLY}</span></h3>
		<form name="postform" id="postform" method="post" action="{QUICK_REPLY_POST_ACTION}" onsubmit="return prime_quick_reply_check(this);"<!-- IF not QUICK_REPLY_SHOW_FORM --> style="display:none;"<!-- ENDIF -->>
		{S_FORM_TOKEN}
		<div class="postprofile" id="quick_reply_options" style="<!-- IF not QUICK_REPLY_SHOW_OPTIONS -->display:none;<!-- ENDIF -->margin-top:0;margin-bottom:0;float:right;">
			<dl>
				<!-- IF S_SUBJECT_ALLOWED --><dd><label for="toggle_quick_reply_subject"><input type="checkbox" name="toggle_quick_reply_subject" id="toggle_quick_reply_subject" style="height:1.5em;" onclick="prime_quick_reply_toggle(this);"<!-- IF QUICK_REPLY_SHOW_SUBJECT --> checked="checked"<!-- ENDIF --> /> {L_QUICK_REPLY_DISPLAY_SUBJECT}</label></dd><!-- ENDIF -->
				<!-- IF S_BBCODES_ALLOWED --><dd><label for="toggle_quick_reply_bbcodes"><input type="checkbox" name="toggle_quick_reply_bbcodes" id="toggle_quick_reply_bbcodes" style="height:1.5em;" onclick="prime_quick_reply_toggle(this);"<!-- IF QUICK_REPLY_SHOW_BBCODES --> checked="checked"<!-- ENDIF --> /> {L_QUICK_REPLY_DISPLAY_BBOCDES}</label></dd><!-- ENDIF -->
				<!-- IF S_SMILIES_ALLOWED --><dd><label for="toggle_quick_reply_smilies"><input type="checkbox" name="toggle_quick_reply_smilies" id="toggle_quick_reply_smilies" style="height:1.5em;" onclick="prime_quick_reply_toggle(this);"<!-- IF QUICK_REPLY_SHOW_SMILIES --> checked="checked"<!-- ENDIF --> /> {L_QUICK_REPLY_DISPLAY_SMILIES}</label></dd><!-- ENDIF -->
			<!-- IF QUICK_REPLY_POST_IDS and PRIME_MULTI_QUOTE -->
				<!-- IF S_QUOTE_ALLOWED --><dd><label for="quote_selected"><input type="checkbox" name="quote_selected" id="quote_selected" style="height:1.5em;" onclick="prime_quick_reply_quotes(this);" /> <span id="prime_quick_reply_none_selected">{L_QUICK_REPLY_QUOTE_SELECTED}</span></label></dd><!-- ENDIF -->
			<!-- ENDIF -->
				<!-- IF S_QUOTE_ALLOWED --><dd><label for="quote_last_msg"><input type="checkbox" name="quote_last_msg" id="quote_last_msg" style="height:1.5em;" onclick="prime_quick_reply_quotes(this);" /> {L_QUICK_REPLY_QUOTE_LAST_POST}</label></dd><!-- ENDIF -->
				<dd><hr /></dd>
				<!-- IF S_NOTIFY_ALLOWED --><dd><label for="notify"><input type="checkbox" name="notify" id="notify" style="height:1.5em;"{S_NOTIFY_CHECKED} /> {L_QUICK_REPLY_NOTIFY_REPLY}</label></dd><!-- ENDIF -->
				<!-- IF S_BBCODES_ALLOWED --><dd><label for="disable_bbcode"><input type="checkbox" name="disable_bbcode" id="disable_bbcode" style="height:1.5em;"{S_BBCODES_CHECKED} /> {L_QUICK_REPLY_DISABLE_BBCODE}</label></dd><!-- ENDIF -->
				<!-- IF S_SMILIES_ALLOWED --><dd><label for="disable_smilies"><input type="checkbox" name="disable_smilies" id="disable_smilies" style="height:1.5em;"{S_SMILIES_CHECKED} /> {L_QUICK_REPLY_DISABLE_SMILIES}</label></dd><!-- ENDIF -->
				<!-- IF S_LINKS_ALLOWED --><dd><label for="disable_magic_url"><input type="checkbox" name="disable_magic_url" id="disable_magic_url" style="height:1.5em;"{S_MAGIC_URL_CHECKED} /> {L_QUICK_REPLY_DISABLE_MAGIC_URL}</label></dd><!-- ENDIF -->
				<!-- IF S_SIG_ALLOWED --><dd><label for="attach_sig"><input type="checkbox" name="attach_sig" id="attach_sig" style="height:1.5em;"{S_SIGNATURE_CHECKED} /> {L_QUICK_REPLY_ATTACH_SIG}</label></dd><!-- ENDIF -->
				<!-- IF S_LOCK_TOPIC_ALLOWED --><dd><label for="lock_topic"><input type="checkbox" name="lock_topic" id="lock_topic"{S_LOCK_TOPIC_CHECKED} /> {L_LOCK_TOPIC}</label></dd><!-- ENDIF -->
			</dl>
		</div>
		<fieldset class="fields1" style="margin-bottom:0.5em;">
			<!-- IF not S_USER_LOGGED_IN --><div><label for="username" style="float:left;width:64px;line-height:1.3;position:relative;bottom:-2px;">{L_USERNAME}:</label><input type="text" tabindex="2" name="username" id="username" size="25" maxlength="30" class="inputbox" /></div><!-- ENDIF -->
			<!-- IF S_SUBJECT_ALLOWED --><div<!-- IF not QUICK_REPLY_SHOW_SUBJECT --> style="display:none;"<!-- ENDIF --> id="quick_reply_subject"><label for="subject" style="float:left;width:64px;line-height:1.3;position:relative;bottom:-2px;">{L_SUBJECT}:</label><input type="text" name="subject" id="subject" size="45" maxlength="64" tabindex="2" value="{QUICK_REPLY_SUBJECT}" class="inputbox" /></div><!-- ELSE --><input type="hidden" name="subject" id="subject" value="{QUICK_REPLY_SUBJECT}" /><!-- ENDIF -->
			<!-- IF S_BBCODES_ALLOWED --><div<!-- IF not QUICK_REPLY_SHOW_BBCODES --> style="display:none;"<!-- ENDIF --> id="quick_reply_bbcodes"><!-- INCLUDE posting_buttons.html --></div><!-- ENDIF -->
			<!-- IF S_SMILIES_ALLOWED --><div<!-- IF not QUICK_REPLY_SHOW_SMILIES --> style="display:none;"<!-- ENDIF --> id="quick_reply_smilies"><!-- BEGIN smiley --> <a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a> <!-- END smiley --><!-- IF S_SHOW_SMILEY_LINK --><a href="{U_MORE_SMILIES}" onclick="window.open('{U_MORE_SMILIES}', '_phpbbsmilies', 'HEIGHT=350,resizable=yes,scrollbars=yes,WIDTH=300'); return false;">{L_QUICK_REPLY_MORE_SMILIES}</a><!-- ENDIF --></div><!-- ENDIF -->
			<div id="quick_reply_message" style="clear:both;text-align:center;">
				<textarea name="message" id="message" rows="9" cols="76" tabindex="3" onchange="prime_quick_reply_quotes(this);" onselect="storeCaret(this); prime_quick_reply_quotes(this);" onclick="storeCaret(this); prime_quick_reply_quotes(this);" onkeyup="storeCaret(this); prime_quick_reply_quotes(this);" class="inputbox" style="width:98%;height:160px;"></textarea>
			</div>
			<!-- IF not S_USER_LOGGED_IN -->
				<!-- IF PRIME_CAPTCHA_TITLE -->
				<dl>
					<dt><label for="{PRIME_CAPTCHA_FIELD_KEY_RESPONSE}">{PRIME_CAPTCHA_INSTRUCTIONS}:</label></dt>
						<dd>{PRIME_CAPTCHA_KEY_PHRASE}</dd>
						<dd><input type="text" name="{PRIME_CAPTCHA_FIELD_KEY_RESPONSE}" id="{PRIME_CAPTCHA_FIELD_KEY_RESPONSE}" size="30" value="" tabindex="3" class="inputbox narrow" title="{PRIME_CAPTCHA}" />{PRIME_CAPTCHA_HIDDEN_FIELDS}</dd>
				</dl>
				<!-- ENDIF -->
				<!-- IF S_PHPBB3_CONFIRM_CODE -->
				<dl>
					<dt><label for="confirm_code">{L_PHPBB3_CONFIRM_CODE}:</label><br /><span>{L_PHPBB3_CONFIRM_CODE_EXPLAIN}</span></dt>
						<dd><input type="hidden" name="confirm_id" value="{PHPBB3_CONFIRM_ID}" />{PHPBB3_CONFIRM_IMAGE}</dd>
						<dd><input type="text" name="confirm_code" id="confirm_code" size="8" maxlength="8" tabindex="4" class="inputbox narrow" title="{L_PHPBB3_CONFIRM_CODE}" /></dd>
				</dl>
				<!-- ENDIF -->
			<!-- ENDIF -->
			<fieldset class="submit-buttons" style="margin-bottom:0;">
				{QUICK_REPLY_HIDDEN_FIELDS}
				<input type="submit" name="preview" tabindex="6" value="{L_PREVIEW}" class="button1" onclick="document.getElementById('postform').action += '#preview';" />&nbsp;
				<input type="submit" name="post" tabindex="5" value="{L_SUBMIT}" class="button1" accesskey="s" />
			</fieldset>
		</fieldset>
		</form>
		<div style="clear:both;height:1px;overflow:hidden;"></div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<div style="clear:both;height:1px;overflow:hidden;"></div>
</div>
<!-- ENDIF -->