<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>{L_TITLE_EXPLAIN}</p>

	<fieldset>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<dl>
		<dt><label for="user_arcade_pm">{L_ARCADE_SEND_PM}:</label><br /><span>{L_ARCADE_SEND_PM_UCP_EXPLAIN}</span></dt>
		<dd>
			<label for="user_arcade_pm1"><input type="radio" name="user_arcade_pm" id="user_arcade_pm1" value="1"<!-- IF S_USER_ARCADE_PM --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label for="user_arcade_pm0"><input type="radio" name="user_arcade_pm" id="user_arcade_pm0" value="0"<!-- IF not S_USER_ARCADE_PM --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
		</dd>
	</dl>
	<dl>
		<dt><label for="games_per_page">{L_ARCADE_GAMES_PER_PAGE}:</label></dt>
		<dd><input type="text" name="games_per_page" id="games_per_page"  maxlength="3" value="{GAMES_PER_PAGE}" class="inputbox autowidth" /></dd>
	</dl>
	<dl>
		<dt><label for="games_sort_order">{L_ARCADE_GAMES_SORT_ORDER}:</label></dt>
		<dd><select name="games_sort_order" id="games_sort_order" class="autowidth">{GAMES_SORT_ORDER}</select></dd>
	</dl>
	<dl>
		<dt><label for="games_sort_dir">{L_ARCADE_GAMES_SORT_DIR}:</label></dt>
		<dd><select name="games_sort_dir" id="games_sort_dir" class="autowidth">{GAMES_SORT_DIR}</select></dd>
	</dl>
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
	{S_FORM_TOKEN}
</fieldset>
</form>

<!-- INCLUDE ucp_footer.html -->