<!-- INCLUDE overall_header.html -->
<!-- IF S_ARCADE_REPORT_ADD -->
<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th>{MESSAGE_TITLE}</th>
</tr>
<tr> 
	<td class="row1" align="center"><br /><p class="gen">{MESSAGE_TEXT}</p><br /><p><a href="{U_ARCADE}" class="{S_CONTENT_FLOW_BEGIN}">{L_RETURN_TO_ARCADE}</a></p></td>
</tr>
</table>

<!-- ELSE -->

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="3" class="thTop">{L_ARCADE_REPORT}</th>
	</tr>

	<form action="{S_ACTION}" method="post" name="postform" >
	<tr>
		<td width="25%" class="row2" valign="middle" align="center">{L_ARCADE_REPORT_TYPE}: {ARCADE_REPORT_TYPE_SELECT}</td>
		
		<td align="center" class="row2">
			<span class="gensmall"><b>{L_ARCADE_REPORT_BELOW}:</b></span><br />
			<textarea name="report_desc" id="report_desc" rows="15" cols="76" tabindex="3" class="inputbox"></textarea>
		</td>
		
		<td align="center" class="row2">
			<p><strong>{GAME_NAME}</strong></p>
			<p><img src="{GAME_IMAGE}" width="50" height="50" alt="{GAME_NAME}" /></p>
			<p>{GAME_DESC}</p>
			<p>{GAME_FILESIZE}</p>
		</td>
	</tr>

	<tr>
		<td colspan="3" align="center" class="row2">
			<input type="submit" name="submit" value="{L_SUBMIT}" class="mainoption" />
			{S_HIDDEN_FIELDS}
			{S_FORM_TOKEN}
		</td>
	</tr>
	</form>
</table>
<!-- ENDIF -->
<br clear="all" />
<!-- INCLUDE arcade/arcade_breadcrumbs.html -->
<!-- INCLUDE arcade/arcade_version_body.html -->

<!-- INCLUDE overall_footer.html -->