<!-- INCLUDE overall_header.html -->
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<td class="cat" align="center"><h4>{L_ARCADE_DOWNLOAD_GAME}</h4></td>
	</tr>
	<tr>
		<th align="center">{ARCADE_DOWNLOAD_FORMAT}</th>
	</tr>
	<tr class="row1">
		<td align="center">
			<form id="selectmethod" method="post" action="{U_ACTION}">

			<label for="use_method">{L_ARCADE_DOWNLOAD_AS}:</label>
				{RADIO_BUTTONS}

			<p class="quick">
				<input type="submit" class="button2" value="{L_ARCADE_DOWNLOAD}" name="download" />
			</p>
			</form>
		</td>
	</tr>
</table>
<br />
<!-- INCLUDE arcade/arcade_breadcrumbs.html -->
<br clear="all" />
<!-- INCLUDE arcade/arcade_online_body.html -->
<!-- INCLUDE arcade/arcade_version_body.html -->
<!-- INCLUDE overall_footer.html -->
