<br />
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<td class="cat" align="left"><h4>{L_ARCADE_ONLINE}</h4></td>
	</tr>
	<!-- BEGIN arcade_online_row -->
	<!-- IF arcade_online_row.S_ROW_COUNT is even --><tr class="row2"><!-- ELSE --><tr class="row1"><!-- ENDIF -->
		<td valign="top">
			<p class="gensmall">
				{arcade_online_row.GAME}:&nbsp;
				{arcade_online_row.PLAYER_LIST}
			</p>
		</td>
	</tr>
	<!-- BEGINELSE -->
	<tr>
		<td class="row1" valign="top">
			<p class="gensmall">
				{L_ARCADE_OFFLINE}
			</p>
		</td>
	</tr>
	<!-- END arcade_online_row -->
</table>
