<!-- INCLUDE overall_header.html -->
<!-- INCLUDE arcade/arcade_header_body.html -->

<!-- IF S_USER_STATS -->
<!-- IF .userfav --><form action="{S_ACTION_USER_FAV}" method="get" id="userfav_games"><!-- ENDIF -->
	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<th colspan="2" align="center">{L_ARCADE_USER_INFO}</th>
		</tr>
		<tr>
			<td width="40%" class="row1" align="center">
				<table cellspacing="1" cellpadding="2" border="0">
					<tr>
						<td align="center"><!-- IF AVATAR -->{AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF --><br /></td>
					</tr>
				<!-- IF ONLINE_IMG -->
					<tr>
						<td align="center">{ONLINE_IMG}</td>
					</tr>
				<!-- ENDIF -->
				<!-- IF RANK_TITLE -->
					<tr>
						<td class="postdetails" align="center">{RANK_TITLE}</td>
					</tr>
				<!-- ENDIF -->
				<!-- IF RANK_IMAGE -->
					<tr>
						<td align="center">{RANK_IMAGE}</td>
					</tr>
				<!-- ENDIF -->
					<tr>
						<td align="center" nowrap="nowrap"><a href="{U_ARCADE_USER_STATS_TYPE}">{L_ARCADE_USER_STATS_TYPE}</a></td>
					</tr>
				</table>
			</td>
			<td width="60%" class="row1">
				<table width="100%" cellspacing="1" cellpadding="2" border="0">
				<tr>
					<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_USERNAME}: </td>
					<td width="100%"><b class="gen">{USERNAME}</b></td>
				</tr>
				<!-- IF ARCADE_WINS -->
				<tr>
					<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_ARCADE_WELCOME_WINS}: </td>
					<td width="100%"><b class="gen">{ARCADE_WINS}</b></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF ARCADE_PLAYS -->
				<tr>
					<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_ARCADE_WELCOME_PLAYS}: </td>
					<td width="100%"><b class="gen">{ARCADE_PLAYS}</b></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF ARCADE_TIME -->
				<tr>
					<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_ARCADE_WELCOME_TIME}: </td>
					<td width="100%"><b class="gen">{ARCADE_TIME}</b></td>
				</tr>
				<!-- ENDIF -->
				<!-- IF .userfav -->
				<tr>
					<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_ARCADE_USER_FAV}: </td>
					<td width="100%"><select name="g"><!-- BEGIN userfav --><option value="{userfav.GAME_ID}">{userfav.GAME_NAME}</option><!-- END userfav --></select>&nbsp;<input type="submit" value="{L_GO}" /></td>
				</tr>
				<!-- ENDIF -->
				</table>
			</td>
		</tr>
	</table>
	<!-- IF .userfav -->
	{S_USER_FAV_HIDDEN_FIELDS}
	</form>
	<!-- ENDIF -->
	<br />

	<!-- IF TOTAL_GAMES -->
	<table width="100%" cellspacing="1">
		<tr>
			<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
			<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_GAMES} ]&nbsp;</td>
			<td class="gensmall" width="100%" align="right" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
		</tr>
	</table>
	<!-- ENDIF -->
	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<td class="cat"><h4>{L_ARCADE_USER_STATS}</h4></td>
		</tr>
	</table>
	<table class="tablebg" cellspacing="1" style="table-layout: fixed;">
		<tr>
			<th align="center" colspan="2">{L_ARCADE_GAME}</th>
			<th align="center">{L_ARCADE_SCORE}</th>
			<th align="center" style="width: 30%;">{L_ARCADE_COMMENT}</th>
			<th align="center">{L_ARCADE_DATE}</th>
			<th align="center">{L_ARCADE_CHAMPION_PLAYED}</th>
			<th align="center">{L_ARCADE_STATS_TOTAL}</th>
			<th align="center">{L_ARCADE_STATS_AVG}</th>
		</tr>
		<!-- BEGIN gamerow -->
		<tr>
			<!-- IF gamerow.GAME_IMAGE --><td align="center" valign="middle" class="row1"><span class="genmed"><a href="{gamerow.U_GAME_PLAY}"><img src="{gamerow.GAME_IMAGE}" alt="{gamerow.GAME_NAME}" width="20" height="20" style="vertical-align: middle;" /></a></span></td><!-- ENDIF -->
			<td align="left" class="row1"<!-- IF not gamerow.GAME_IMAGE --> colspan="2"<!-- ENDIF -->><span class="genmed"><a href="{gamerow.U_GAME_PLAY}">{gamerow.GAME_NAME}</a><!-- IF gamerow.GAME_IMAGE_FIRST -->&nbsp;&nbsp;<img src="{gamerow.GAME_IMAGE_FIRST}" alt="{L_ARCADE_FIRST}" style="vertical-align: middle;" /><!-- ENDIF --></span></td>
			<td align="center" class="row1"><span class="genmed">{gamerow.SCORE}</span></td>
			<td align="center" class="row1"><div class="genmed" style="overflow: auto; min-height: 3em; height:auto !important; height:3em;">{gamerow.COMMENT}</div></td>
			<td align="center" class="row1"><span class="genmed">{gamerow.DATE}</span></td>
			<td align="center" class="row1"><span class="genmed">{gamerow.TOTAL_PLAYS}</span></td>
			<td align="center" class="row1"><span class="genmed">{gamerow.TOTAL_TIME}</span></td>
			<td align="center" class="row1"><span class="genmed">{gamerow.AVG_TIME}</span></td>
		</tr>
		<!-- END gamerow -->
		<!-- IF S_SELECT_SORT_KEY and S_SELECT_SORT_DIR -->
		<tr align="center">
			<td class="cat" colspan="8">
				<form method="post" action="{S_ARCADE_ACTION}"><span class="gensmall">{L_ARCADE_CATEGORY}:</span> {S_SELECT_SORT_CAT}&nbsp;{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" name="sort" value="{L_GO}" /></form>
			</td>
		</tr>
		<!-- ENDIF -->
		</table>

	<!-- IF TOTAL_GAMES -->
	<table width="100%" cellspacing="1">
		<tr>
			<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
			<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_GAMES} ]&nbsp;</td>
			<td class="gensmall" width="100%" align="right" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
		</tr>
	</table>
	<!-- ENDIF -->

<!-- ELSEIF S_GAME_STATS -->

	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<th align="center" width="50%"><h4>{L_ARCADE_GAME_STATS_INFO}</h4></th>
			<th align="center" width="50%"><h4>{L_ARCADE_GAME_CHAMP}</h4></th>
		</tr>
		<tr>
			<td class="row1" align="center">
				<table cellspacing="1" cellpadding="2" border="0">
					<tr>
						<td class="gen" align="center"><!-- IF GAME_IMAGE --><a href="{U_GAME_PLAY}"><img src="{GAME_IMAGE}" alt="{GAME_NAME}" width="50" height="50" /></a><br /><!-- ENDIF -->{GAME_NAME}</td>
						<td>
							<table width="100%" cellspacing="1" cellpadding="2" border="0" align="left">
								<tr align="left">
									<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_ARCADE_STATS_TOTAL_PLAYS}: </td>
									<td width="100%"><b class="gen">{GAME_TOTAL_PLAYS}</b></td>
								</tr>
								<tr align="left">
									<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_ARCADE_STATS_TOTAL_TIME}: </td>
									<td width="100%"><b class="gen">{GAME_TOTAL_TIME}</b></td>
								</tr>
								<!-- IF S_CAN_DOWNLOAD -->
								<tr align="left">
									<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_ARCADE_STATS_TOTAL_DOWNLOADS}: </td>
									<td width="100%"><b class="gen">{GAME_DOWNLOAD}</b></td>
								</tr>
								<!-- ENDIF -->								
								<tr align="left">
									<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{GAME_RATING_IMG}</td>
									<td width="100%">&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
			<td class="row1" align="center">
				<table cellspacing="1" cellpadding="2" border="0">
				<tr>
					<td align="center">
						<!-- IF AVATAR -->{AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF -->
						<!-- IF ONLINE_IMG --><br />{ONLINE_IMG}<!-- ENDIF -->
					</td>
					<td align="center">
						<table width="100%" cellspacing="1" cellpadding="2" border="0">
							<tr align="left">
								<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_USERNAME}: </td>
								<td width="100%"><b class="gen">{BEST_USER}</b></td>
							</tr>
							<tr align="left">
								<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_ARCADE_STATS_BEST_SCORE}: </td>
								<td width="100%"><b class="gen">{BEST_SCORE}</b></td>
							</tr>
							<tr align="left">
								<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_ARCADE_STATS_BEST_DATE}: </td>
								<td width="100%"><b class="gen">{BEST_DATE}</b></td>
							</tr>
						</table>
					</td>
				</tr>
				</table>
			</td>
		</tr>
	</table>
	<br />
	<!-- IF TOTAL_SCORES -->
	<table width="100%" cellspacing="1">
		<tr>
			<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
			<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_SCORES} ]&nbsp;</td>
			<td class="gensmall" width="100%" align="right" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
		</tr>
	</table>
	<!-- ENDIF -->

	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<td class="cat"><h4>{L_ARCADE_GAME_STATS}</h4></td>
		</tr>
	</table>
	<table class="tablebg" cellspacing="1" style="table-layout: fixed;">
		<tr>
			<th align="center">{L_ARCADE_RANK}</th>
			<th align="center">{L_USERNAME}</th>
			<th align="center">{L_ARCADE_SCORE}</th>
			<th align="center" style="width: 30%;">{L_ARCADE_COMMENT}</th>
			<th align="center">{L_ARCADE_DATE}</th>
			<th align="center">{L_ARCADE_CHAMPION_PLAYED}</th>
			<th align="center">{L_ARCADE_STATS_TOTAL}</th>
		</tr>
		<!-- BEGIN scorerow -->
		<tr>
			<td align="center" class="row1"><span class="genmed">{scorerow.POS}</span></td>
			<td align="center" class="row1"><span class="genmed">{scorerow.USERNAME}</span></td>
			<td align="center" class="row1"><span class="genmed">{scorerow.SCORE}</span></td>
			<td align="center" class="row1"><div class="genmed" style="overflow: auto; min-height: 3em; height:auto !important; height:3em;">{scorerow.COMMENT}</div></td>
			<td align="center" class="row1"><span class="genmed">{scorerow.DATE}</span></td>
			<td align="center" class="row1"><span class="genmed">{scorerow.TOTAL_PLAYS}</span></td>
			<td align="center" class="row1"><span class="genmed">{scorerow.TOTAL_TIME}</span></td>
		</tr>
		<!-- END scorerow -->
	</table>
	<!-- IF TOTAL_SCORES -->
	<table width="100%" cellspacing="1">
		<tr>
			<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
			<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_SCORES} ]&nbsp;</td>
			<td class="gensmall" width="100%" align="right" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
		</tr>
	</table>
	<!-- ENDIF -->
<!-- ELSE -->
	<!-- IF .record_row -->
	<table class="tablebg" cellspacing="1" width="100%">
		<tr>
			<td class="cat" colspan="6"><h4>{L_ARCADE_STATS}</h4></td>
		</tr>
		<tr>
			<th align="center" colspan="6">{L_ARCADE_LONGEST_SCORE}</th>
		</tr>
		<tr class="row3">
			<td align="center"><span class="genmed"><b>{L_ARCADE_RANK}</b></span></td>
			<td align="center"><span class="genmed"><b>{L_ARCADE_GAME_NAME}</b></span></td>
			<td align="center"><span class="genmed"><b>{L_USERNAME}</b></span></td>
			<td align="center"><span class="genmed"><b>{L_ARCADE_SCORE}</b></span></td>
			<td align="center"><span class="genmed"><b>{L_ARCADE_TIME_HELD}</b></span></td>
			<td align="center"><span class="genmed"><b>{L_ARCADE_DATE}</b></span></td>
		</tr>
		<!-- BEGIN record_row -->
		<!-- IF record_row.S_ROW_COUNT is even --><tr class="row2"><!-- ELSE --><tr class="row1"><!-- ENDIF -->
			<td align="center"><span class="genmed">{record_row.RANK}</span></td>
			<td align="center"><span class="genmed">{record_row.GAME_NAME}</span></td>
			<td align="center"><span class="genmed">{record_row.USERNAME}</span></td>
			<td align="center"><span class="genmed">{record_row.HIGHSCORE}</span></td>
			<td align="center"><span class="genmed">{record_row.TIME_HELD}</span></td>
			<td align="center"><span class="genmed">{record_row.HIGHSCORE_DATE}</span></td>
		</tr>
		<!-- END record_row -->
	</table>
	<!-- ENDIF -->

	<br />

	<table class="tablebg" cellspacing="1" width="100%">
		<tr class="row1">
			<td valign="top" align="left" width="33%">
				<table width="100%" cellspacing="1">
					<tr>
						<th align="center">{L_ARCADE_MOST_POPULAR}</th>
					</tr>
					<!-- BEGIN pop_games -->
					<!-- IF pop_games.S_ROW_COUNT is even --><tr class="row2"><!-- ELSE --><tr class="row1"><!-- ENDIF -->
						<td valign="top"><span class="gensmall"><!-- IF pop_games.GAME_IMAGE --><a href="{pop_games.U_GAME_PLAY}"><img src="{pop_games.GAME_IMAGE}" alt="{pop_games.GAME_IMAGE_ALT}" width="20" height="20" style="vertical-align: middle;" /></a><!-- ENDIF -->&nbsp;{pop_games.GAME_NAME}</span></td>
					</tr>
					<!-- END pop_games -->
				</table>
			</td>
			<td valign="top" align="left"  width="34%">
				<table width="100%" cellspacing="1">
					<tr>
						<th align="center">{L_ARCADE_LEADERS}</th>
					</tr>
					<!-- BEGIN users -->
					<!-- IF users.S_ROW_COUNT is even --><tr class="row2"><!-- ELSE --><tr class="row1"><!-- ENDIF -->
						<td valign="top"><span class="gensmall">{users.RANK}:&nbsp;<!-- IF users.AVATAR -->{users.AVATAR}<!-- ELSE -->{users.NO_AVATAR}<!-- ENDIF -->&nbsp;&nbsp;{users.USERNAME}</span></td>
					</tr>
					<!-- END users -->
				</table>
			</td>
			<td valign="top" align="left" width="33%">
				<table width="100%" cellspacing="1">
					<tr>
						<th align="center">{L_ARCADE_LEAST_POPULAR}</th>
					</tr>
					<!-- BEGIN lpop_games -->
					<!-- IF lpop_games.S_ROW_COUNT is even --><tr class="row2"><!-- ELSE --><tr class="row1"><!-- ENDIF -->
						<td valign="top"><span class="gensmall"><!-- IF lpop_games.GAME_IMAGE --><a href="{lpop_games.U_GAME_PLAY}"><img src="{lpop_games.GAME_IMAGE}" alt="{lpop_games.GAME_IMAGE_ALT}" width="20" height="20" style="vertical-align: middle;" /></a><!-- ENDIF -->&nbsp;{lpop_games.GAME_NAME}</span></td>
					</tr>
					<!-- END lpop_games -->
				</table>
			</td>
		</tr>
	</table>

	<br />
	<!-- IF S_DISPLAY_DOWNLOAD_STATS -->
	<table class="tablebg" cellspacing="1" width="100%">
		<tr class="row1">
			<td valign="top" align="left" width="33%">
				<table width="100%" cellspacing="1">
					<tr>
						<th align="center">{L_ARCADE_MOST_DOWNLOADED}</th>
					</tr>
					<!-- BEGIN mostdownloaded_games -->
					<!-- IF mostdownloaded_games.S_ROW_COUNT is even --><tr class="row2"><!-- ELSE --><tr class="row1"><!-- ENDIF -->
						<td valign="top"><span class="gensmall"><!-- IF mostdownloaded_games.GAME_IMAGE --><a href="{mostdownloaded_games.U_GAME_DOWNLOAD}"><img src="{mostdownloaded_games.GAME_IMAGE}" alt="{mostdownloaded_games.GAME_IMAGE_ALT}" width="20" height="20" style="vertical-align: middle;" /></a><!-- ENDIF -->&nbsp;{mostdownloaded_games.GAME_NAME}</span></td>
					</tr>
					<!-- END mostdownloaded_games -->
				</table>
			</td>
			<td valign="top" align="left" width="33%">
				<table width="100%" cellspacing="1">
					<tr>
						<th align="center">{L_ARCADE_LEAST_DOWNLOADED}</th>
					</tr>
					<!-- BEGIN leastdownloaded_games -->
					<!-- IF leastdownloaded_games.S_ROW_COUNT is even --><tr class="row2"><!-- ELSE --><tr class="row1"><!-- ENDIF -->
						<td valign="top"><span class="gensmall"><!-- IF leastdownloaded_games.GAME_IMAGE --><a href="{leastdownloaded_games.U_GAME_DOWNLOAD}"><img src="{leastdownloaded_games.GAME_IMAGE}" alt="{leastdownloaded_games.GAME_IMAGE_ALT}" width="20" height="20" style="vertical-align: middle;" /></a><!-- ENDIF -->&nbsp;{leastdownloaded_games.GAME_NAME}</span></td>
					</tr>
					<!-- END leastdownloaded_games -->
				</table>
			</td>
		</tr>
	</table>

	<br />
	<!-- ENDIF -->

	<table class="tablebg" cellspacing="1" width="100%">
		<tr>
			<td class="cat" colspan="6"><h4>{L_ARCADE_SELECT_STATS}</h4></td>
		</tr>
		<tr class="row1">
			<td valign="top" align="left" width="50%">
				<form style="margin-bottom:0;" action="{S_ACTION}" method="get" name="all_games">
					<table width="100%" cellspacing="1">
						<tr>
							<th align="center">{L_ARCADE_GAME_STATS}</th>
						</tr>
						<tr>
							<td valign="middle" align="center" class="row1">
								<span class="genmed">
									{S_HIDDEN_FIELDS}
									<b>{L_ARCADE_SELECT_GAME}:</b>&nbsp;&nbsp;
									<!-- IF .game_jump -->
									<select name="g">
									<!-- BEGIN game_jump -->
										<option value="{game_jump.GAME_ID}">{game_jump.GAME_NAME}</option>
									<!-- END game_jump -->
									</select>
									<input type="submit" value="{L_GO}" />
									<!-- ENDIF -->
								</span>
							</td>
						</tr>
					</table>
				</form>
			</td>
			<td valign="top" align="left" width="50%">
				<form style="margin-bottom:0;" action="{S_ACTION}" method="get" name="all_users">
					<table width="100%" cellspacing="1">
						<tr>
							<th align="center">{L_ARCADE_USER_STATS}</th>
						</tr>
						<tr>
							<td valign="middle" align="center" class="row1">
								<span class="genmed">
									{S_HIDDEN_FIELDS}
									<b>{L_ARCADE_SELECT_USER}:</b>&nbsp;&nbsp;
									<!-- IF .user_jump -->
									<select name="u">
									<!-- BEGIN user_jump -->
										<option value="{user_jump.USER_ID}">{user_jump.USERNAME}</option>
									<!-- END user_jump -->
									</select>
									<input type="submit" value="{L_GO}" />
									<!-- ENDIF -->
								</span>
							</td>
						</tr>
					</table>
				</form>
			</td>
		</tr>
	</table>
<!-- ENDIF -->
<br />
<!-- INCLUDE arcade/arcade_breadcrumbs.html -->
<br clear="all" />

<!-- INCLUDE arcade/arcade_online_body.html -->
<!-- INCLUDE arcade/arcade_version_body.html -->
<!-- INCLUDE overall_footer.html -->
