<!-- INCLUDE overall_header.html -->
<!-- INCLUDE arcade/arcade_header_body.html -->
<!-- INCLUDE arcade/arcade_list_body.html -->
<!-- INCLUDE arcade/arcade_breadcrumbs.html -->

<!-- IF not S_USER_LOGGED_IN -->
	<br clear="all" />

	<form method="post" action="{S_LOGIN_ACTION}">

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat"><h4><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></h4></td>
	</tr>
	<tr>
		<td class="row1" align="center"><span class="genmed">{L_USERNAME}:</span> <input class="post" type="text" name="username" size="10" />&nbsp; <span class="genmed">{L_PASSWORD}:</span> <input class="post" type="password" name="password" size="10" />&nbsp; <!-- IF S_AUTOLOGIN_ENABLED --> <span class="gensmall">{L_LOG_ME_IN}</span> <input type="checkbox" class="radio" name="autologin" /><!-- ENDIF -->&nbsp; <input type="submit" class="btnmain" name="login" value="{L_LOGIN}" /></td>
	</tr>
	</table>
	{S_FORM_TOKEN}
	</form>
<!-- ENDIF -->

<br clear="all" />

<table class="legend">
<tr>
	<td width="20" align="center">{CAT_NEW_IMG}</td>
	<td><span class="gensmall">{L_ARCADE_NEW_GAMES}</span></td>
	<td>&nbsp;&nbsp;</td>
	<td width="20" align="center">{CAT_IMG}</td>
	<td><span class="gensmall">{L_ARCADE_NO_NEW_GAMES}</span></td>
	<td>&nbsp;&nbsp;</td>
	<td width="20" align="center">{CAT_LOCKED_IMG}</td>
	<td><span class="gensmall">{L_ARCADE_CAT_LOCKED}</span></td>
</tr>
</table>

<!-- INCLUDE arcade/arcade_online_body.html -->
<!-- IF S_DISPLAY_AUTH_INFO -->
	<br clear="all" />

	<table width="100%" cellspacing="0">
	<tr>
		<td align="{S_CONTENT_FLOW_END}"><span class="gensmall"><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></span></td>
	</tr>
	</table>
<!-- ENDIF -->
<!-- INCLUDE arcade/arcade_version_body.html -->
<!-- INCLUDE overall_footer.html -->