	<table class="tablebg" width="100%" cellspacing="1" cellpadding="0" style="margin-top: 5px;">
	<tr>
		<td class="row1">
			<p class="breadcrumbs"><a href="{U_INDEX}">{L_INDEX}</a> &#187; <a href="{U_ARCADE}">{L_ARCADE_INDEX}</a><!-- IF S_IN_SEARCH --> &#187; {L_ARCADE_SEARCH}<!-- ENDIF --><!-- IF S_IN_FAV --> &#187; <a href="{U_ARCADE_FAV}">{L_ARCADE_FAV}</a><!-- ENDIF --><!-- IF S_IN_STATS --> &#187; <a href="{U_ARCADE_STATS}">{L_ARCADE_STATS}</a><!-- ENDIF --><!-- BEGIN navlinks --> &#187; <a href="{navlinks.U_VIEW_CAT}">{navlinks.CAT_NAME}</a><!-- END navlinks --><!-- IF GAME_NAME --> &#187; <a href="{U_VIEW_GAME}">{GAME_NAME}</a><!-- ENDIF --></p>
			<p class="datetime">{S_TIMEZONE}</p>
		</td>
	</tr>
	</table>