<!-- IF S_USE_SIMPLE_HEADER -->
<!-- INCLUDE simple_header.html -->
	<!-- IF S_SCORE_DONE -->
	<script type="text/javascript">
	function refresh_page()
	{
		if (window.opener && !window.opener.closed)
		{
			window.opener.location.reload(true);
			var url = '{CAT_URL}';
			window.opener.location.href = url.replace(/&amp;/g, '&');
			window.self.close();
	    }

	}
	</script>
	<!-- ELSE -->
	<script type="text/javascript">
		window.self.resizeTo(screen.width * .70, screen.height * .70);
		window.moveTo((screen.width / 2) - ((screen.width * .70) / 2), (screen.height/2) - ((screen.height * .70) / 2));
	</script>
	<!-- ENDIF -->
<!-- ELSE -->
<!-- INCLUDE overall_header.html -->
<!-- ENDIF -->

<!-- IF S_SCORE_DONE -->
<table class="tablebg" width="100%" cellspacing="1">
  <tr>
  	 <th class="thTop">{L_ARCADE_GAME_OVER}</th>
  </tr>

  <tr>
        <td class="row1">
             <div style="float: left; padding: 5px; margin: 5px;">
             <a href="{GAME_URL}"><img src="{GAME_IMAGE}" alt="{GAME_NAME}" /></a>
             </div>
             <div style="float: right; padding: 5px; margin: 5px;">
             <a href="{GAME_URL}"><img src="{GAME_IMAGE}" alt="{GAME_NAME}" /></a>
             </div>
             <div class="gen" align="center">{L_ARCADE_DONE}</div>
        </td>
   </tr>
</table>
<!-- ELSE -->
<script language="javascript" type="text/javascript" src="{T_TEMPLATE_PATH}/editor.js"></script>
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th <!-- IF S_SMILIES_ALLOWED and S_HAS_PERM_RATE and S_HAS_PERM_COMMENT -->colspan="3" <!-- ELSEIF S_HAS_PERM_COMMENT and (S_SMILIES_ALLOWED or S_HAS_PERM_RATE) -->colspan="2" <!-- ENDIF -->class="thTop">{L_ARCADE_GAME_OVER}</th>
	</tr>
	<tr>
		<td <!-- IF S_SMILIES_ALLOWED and S_HAS_PERM_RATE and S_HAS_PERM_COMMENT -->colspan="3" <!-- ELSEIF S_HAS_PERM_COMMENT and (S_SMILIES_ALLOWED or S_HAS_PERM_RATE) -->colspan="2" <!-- ENDIF -->align="center" class="row2"><span class="genmed"><b>{ARCADE_SCORE_DESC}</b></span></td>
	</tr>

	<form action="{S_ACTION}" method="post" name="postform" >
	<tr>
		<!-- IF S_SMILIES_ALLOWED and S_HAS_PERM_COMMENT -->
		<td width="25%" class="row2" valign="middle" align="center"> <br />
			<table width="100%" cellspacing="5" cellpadding="0" border="0" align="center">
				<tr>
					<td class="gensmall" align="center"><b>{L_SMILIES}</b></td>
				</tr>

				<tr>
					<td align="center">
					<!-- BEGIN smiley -->
						<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_DESC}" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>
					<!-- END smiley -->
					</td>
				</tr>

				<!-- IF S_SHOW_SMILEY_LINK -->
				<tr>
					<td align="center"><a class="nav" href="{U_MORE_SMILIES}" onclick="window.open('{U_MORE_SMILIES}', '_phpbbsmilies', 'HEIGHT=350,resizable=yes,scrollbars=yes,WIDTH=300');return false;">{L_MORE_SMILIES}</a></td>
				</tr>
				<!-- ENDIF -->
			</table>
		</td>
		<!-- ENDIF -->

		<!-- IF S_HAS_PERM_COMMENT -->
		<script type="text/javascript">
		// <![CDATA[
			var form_name = 'postform';
			var text_name = 'message';
		// ]]>
		</script>
		<td align="center" class="row2">
			<span class="gensmall"><b>{L_ARCADE_SCORE_COMMENT_BELOW}:</b></span><br />
			<textarea name="message" rows="10" cols="50" wrap="virtual" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);">{SCORE_COMMENT}</textarea>
		</td>
		<!-- ENDIF -->

		<!-- IF S_HAS_PERM_RATE -->
		<td width="25%" align="center" class="row2">
			<!-- IF ARCADE_GAME_RATE_ALREADY -->
				<span class="gensmall">{ARCADE_GAME_RATE_ALREADY}</span><br /><br />
			<!-- ENDIF -->
				<span class="gensmall"><b>{L_ARCADE_GAME_RATE}:</b></span><br />
				{GAME_RATING_SELECT}
		</td>
		<!-- ENDIF -->
	</tr>

	<tr>
		<td  <!-- IF S_SMILIES_ALLOWED and S_HAS_PERM_RATE -->colspan="3" <!-- ELSEIF S_SMILIES_ALLOWED or S_HAS_PERM_RATE -->colspan="2" <!-- ENDIF -->align="center" class="row2">
			<input type="submit" name="submit" value="{L_SUBMIT}" class="mainoption" />
			{S_HIDDEN_FIELDS}
			{S_FORM_TOKEN}
		</td>
	</tr>
	</form>
</table>
<!-- ENDIF -->

<!-- IF not S_USE_SIMPLE_HEADER -->
<br clear="all" />
<!-- INCLUDE arcade/arcade_breadcrumbs.html -->
<!-- ENDIF -->

<!-- INCLUDE arcade/arcade_online_body.html -->
<!-- INCLUDE arcade/arcade_version_body.html -->

<!-- IF S_USE_SIMPLE_HEADER -->
<!-- INCLUDE simple_footer.html -->
<!-- ELSE -->
<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->

